<h1>REGISTRO DE NUEVOS RELOJES</h1>
<p class="msg">Los seriales mostrados aqui están solo para pruebas y no corresponde a resultados finales.</p>

<div class="package_options">

  <div class="options">
    <div class="selc">
      <p class="sl-ttl">Mano</p>
      <div class="custom-select">
        <select class="ss" [(ngModel)]="manos">
          <option *ngFor="let opc of this.db.manos" [ngValue]="opc">{{opc.name}}</option>
          <!--<option selected disabled hidden >-&#45;&#45;&#45;&#45;&#45;&#45;</option>-->
        </select>
      </div>
    </div>
    <div class="selc">
      <p class="sl-ttl">Lote</p>
      <div class="custom-select">
        <select class="ss" [(ngModel)]="lote">
          <option *ngFor="let opc of this.db.lotes" [ngValue]="opc">{{opc.name}}</option>
          <!--<option selected disabled hidden >-&#45;&#45;&#45;&#45;&#45;&#45;</option>-->
        </select>
      </div>
    </div>
  </div>


  <div class="options">
    <div class="selc">
      <p class="sl-ttl">Modelo</p>
      <div class="custom-select">
        <select class="ss" [(ngModel)]="modelo_seleccionado">
          <option *ngFor="let opc of est.modelos" [ngValue]="opc">{{opc.name}}</option>
        </select>
      </div>
    </div>


    <div class="selc">
      <p class="sl-ttl">Colección</p>
      <div class="custom-select">
        <select class="ss" [(ngModel)]="colecc_select">
          <option *ngFor="let opc of colecciones_del_modelos" [ngValue]="opc">{{opc.name}}</option>
        </select>
      </div>
    </div>


    <!--<div class="selc">-->
      <!--<p class="sl-ttl">Colección</p>-->
      <!--<div class="custom-select">-->
        <!--<select class="ss" [(ngModel)]="colecc_select">-->
          <!--<option *ngFor="let opc of colecciones_del_modelo" [ngValue]="opc">{{opc.name}}</option>-->
        <!--</select>-->
      <!--</div>-->
    <!--</div>-->

  </div>

  <!--<div class="bt-n-ref" (click)="iniciarNuevoRegistro()"> Crear nuevo registro-->

  <!--</div>-->
</div>

<div class="pack">
  <p>SERIAL RAW {{serial_raw}}</p>
  <p>SERIAL MD5: {{serial_md5}}</p>
</div>

