:host {
  width: auto;
  height: auto;
  /*background: #7a7543;*/
  margin: 1em;
  display: flex;
  font-weight: bold;
  font-size: 1em;
  flex-direction: column;
}

.text {
  font-weight: lighter;
}

.selector {
  display: flex;
  width: 4em;
  height: 4em;
  margin-left: 1em;
  border-radius: .2em;
  background: #f7f7f7;
}

.select {
  margin-left: .5em;
  padding: 2em;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*background: aqua;*/
}

.subt {
  margin: 0;
  padding: 0;
}

.bt-n-ref {
  margin: .5em;
  background: #f7f7f7;
  border: 1px solid black;
  border-radius: .2em;
  padding: .5em;
  cursor: pointer;
  width: available;
  text-align: center;
}

.pack {
  margin: 1em;
}

.bt-n-ref:hover {
  background: #3a3a3a;
  color: #f7f7f7;
}

.msg {
  font-weight: lighter;
}

.bb {
  display: flex;
  position: absolute;
  bottom: 0;
  flex-direction: column;
  margin-bottom: .5em;
}

.package_options {
  margin-top: .5em;
  background: #f3f3f3;
  padding: .5em;
  border-radius: .5em;

}



.selc {
  height: 4em;
  /*background: aquamarine;*/
  /*margin: 1em;*/
  padding: 0;
  margin: .5em;
}

.sl-ttl {
  size: .1em;
  font-weight: normal;
  font-size: 1.2em;
  margin-bottom: .5em;
}

.selt {
  size: .8em;
  font-weight: lighter;
}

.ss {
  -webkit-appearance: none;
  padding: .5em;
  font-family: 'K2D', sans-serif;
  border: none;
  background: #f7f7f7;
  width: 10em;
}


