<div class="package_options">
  <h1>NUEVO REGISTRO</h1>
  <div>
    <p class="msg">Hey, Hola!</p>
    <p class="msg">1.Busquedas e registro funcionando de lo lindo ♥</p>
    <p class="msg">2.Te quedo debiendo aún organizar las restricciones</p>

    <p class="msg">3.Falta definir la parte de la mano de obra y lote puesto que aún no lo tengo muy claro como
      implementar de forma definitiva. por lo tanto por ahora está inabilitados esos inputs
    </p>
  </div>

  <h4 class="ttt">Del Registro</h4>
  <div class="_ln"></div>

  <div class="options">
    <div class="selc">
      <p class="sl-ttl">Mano</p>
      <div class="custom-select">
        <select class="ss" [(ngModel)]="manos">
          <option *ngFor="let opc of this.est.manos" [ngValue]="opc">{{opc.name}}</option>
          <!--<option selected disabled hidden >-------</option>-->
        </select>
      </div>
    </div>
    <div class="selc">
      <p class="sl-ttl">Lote</p>
      <div class="custom-select">
        <select class="ss" [(ngModel)]="lote">
          <option *ngFor="let opc of this.est.lotes" [ngValue]="opc">{{opc.name}}</option>
          <!--<option selected disabled hidden >-------</option>-->
        </select>
      </div>
    </div>
  </div>

  <h4 class="ttt">Base</h4>
  <div class="_ln"></div>
  <div class="options">
    <div class="selc">
      <p class="sl-ttl">Modelo</p>
      <div class="custom-select">
        <select class="ss" [(ngModel)]="modelo_seleccionado">
          <option *ngFor="let opc of est.modelos" [ngValue]="opc">{{opc.name}}</option>
        </select>
      </div>
    </div>


    <div class="selc">
      <p class="sl-ttl">Colección</p>
      <div class="custom-select">
        <select class="ss" [(ngModel)]="colecc_select">
          <option *ngFor="let opc of colecciones_del_modelo_selected" [ngValue]="opc">{{opc.name}}</option>
        </select>
      </div>
    </div>
  </div>


  <h4 class="ttt">Caracteristicas de Personalización</h4>
  <div class="_ln"></div>
  <!--[(ngModel)]="obj[{id:'',nombre: opc.nombre, val:$event.value}]-->
  <div class="options">
    <div class="selc" *ngFor="let opc of opciones_por_ver">
      <p class="sl-ttl">{{opc.nombre}}</p>
      <div class="custom-select">
        <select class="ss" [(ngModel)]="_caracteristicas[opc.id]">
          <option *ngFor="let op of opc.ops" [ngValue]="op">{{op.name}}</option>
        </select>
      </div>

    </div>
  </div>

  <div class="bt-n-ref" (click)="iniciarNuevoRegistro()"> Crear nuevo registro</div>
</div>


<div class="pack">
  <p><strong>SERIAL RAW </strong>{{serial_raw}}</p>
  <p><strong>SERIAL MD5:</strong> {{serial_md5}}</p>
</div>

