<div class="main_login">
  <div class="card_login">
    <!--    <img class="logo" src="assets/common/logos/logo-full-b.svg" alt="Moena 1989">-->
    <div class="txt-log">DEV USER</div>
    <form class="ins">
      <div class="l">
        <input type="email" value="" #mail placeholder="Correo">
        <input type="password" value="" #contra placeholder="Contraseña">
      </div>
      <div class="btn-work" (click)="registrarDevUser(mail.value,contra.value)">
        Registrar
      </div>
    </form>
  </div>
</div>
