<!--<div class="main_card">-->
<div class="rjb-ttl">
  <h2>Serial: {{dataReloj.metadata.serial_raw}}</h2>
</div>
<div class="_ln"></div>
<div class="rjb-cnt">
  <div class="bjos">
    <img class="img-rj-buscado" src="{{dataReloj.metadata.img_url}}" alt="Moena 1989">
  </div>

  <div class="rjb-datos">
    <div><strong>Fecha de registro: </strong>{{dataReloj.metadata.fecha}}</div>
    <div><strong>DEF: </strong>{{dataReloj.metadata.serial_def}}</div>
    <div><strong>Raw: </strong>{{dataReloj.metadata.serial_raw}}</div>
    <div class="_ln"></div>

    <!--<p>Aquí irá las piezas, la mmano de obra, el lote, etc... todas esas variables de construcción del reloj</p>-->
    <!--<p>Falta definir como va a ser esto, bien bien bien....</p>-->
    <!---->

    <div class="_ln"></div>
    <div *ngFor="let c of dataReloj.base"><strong>{{c.nombre_base}}: </strong>{{c.nombre_seleccion}}</div>
    <div class="_ln"></div>
    <div *ngFor="let c of dataReloj.caracteristicas"><strong>{{c.nombre_caracteristica}}: </strong>{{c.nombre_opcion}}
    </div>
  </div>
</div>
