:host {
  width: auto;
  margin: .5em;
  /*background: #f3f3f3;*/
  display: flex;
  border-radius: .2em;
  padding: 1em;
  flex-direction: column;
}

.img-rj-buscado {
  border-radius: .2em;
  flex-grow: 1;
  height: available;
  overflow: hidden;
  object-fit: contain;
  background-position: center;
  /*flex-grow: 1;*/
}

.bjos {
  background: #f6f6f6;
  height: 25em;
  display: flex;
  flex-direction: column;
  /*margin: .5em;*/
  border-radius: .4em;
  flex-grow: 1;
  width: 100%;
  max-width: 25em;
  /*padding: 1em;*/
}

.rjb-cnt {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ss {
  font-weight: lighter;
}

.rjb-datos {
  width: auto;
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}
