:host {
  z-index: 10000;
  position: absolute;
  bottom: 2em;
  right: 2em;
  /*left: 50%;*/
  /*transform: translate(-50%);*/
}

.active {
  opacity: 0;
  transition: all .5s ease-in-out;
}

.carasta {
  margin: auto;
  padding: 1em;
  /*color: #e03e3e;*/
  border-radius: .3em;
  display: flex;
  max-width: 20em;
  /*min-width: 10em;*/
  /*font-family: "Fira Sans Light";*/
  border: #e03e3e;
  font-size: 1.1em;
  align-items: center;
  transition: all .5s ease-in-out;
}

.r {
  background: red;
  color: white;
}

.ok {
  background: green;
  color: white;

}


.adv {
  background: #FFBF08;
  color: white;
}


.snack_ico {
  /*margin: 1em 2em 1em 1em;*/
  font-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
  /*background: black;*/
  align-items: center;
  display: flex;
  justify-content: center;
}

.snack_cnt {
  padding-left: 1em;
}

.ttl {
  font-weight: bold;
}

.txt_cnt {
  font-size: .9em;
}
