<div class="carta">
  <div class="top_card">
    <div class="top_ttl">Busqueda</div>
  </div>
  <div class="card_cnt">
    <div class="nv">
      <input type="text" value="" #serial placeholder="Escribe el serial" class="in_buscar" value="{{serial_bs }}">
      <div class="bt_buscar" (click)="buscarBySerial(serial.value)">Buscar</div>
    </div>
    <div class="err">{{err_msg}}</div>
  </div>
</div>
<div class="carta" *ngIf="mostrar_busqueda">

  <div class="top_card">
    <div class="top_ttl">GH-{{reloj_encontrado.metadata.serial}}</div>
  </div>
  <app-reloj-buscado class=" card_cnt"
                     [dataReloj]="reloj_encontrado"></app-reloj-buscado>
</div>
<!--<div class="bt_cerrar" (click)="cerrar()" *ngIf="mostrar_busqueda">Cerrar busqueda</div>-->
