<div class="plus-opts-cnt">
  <div class="plus-opts-item">
    <app-visual-selector tittle="Modelo:">
      <ng-container *ngFor="let c of currentData.models;  let i = index">
        <div
          class="vsi-item"
          [class.vsi-item-act]="c===modelSelected"
          (click)="selectModel(c)">{{c.name}}</div>
      </ng-container>
    </app-visual-selector>
  </div>
  <div *ngIf="modelSelected" class="plus-opts-item">
    <app-visual-selector tittle="Diámetro externo:">
      <ng-container *ngFor="let ed of diameters; let i = index">
        <div class="vsi-item"
             [class.vsi-item-act]="ed===externalDiameterSelected"
             (click)="selectExternalDiameter(ed)"
        >{{ed}}</div>
      </ng-container>
    </app-visual-selector>
  </div>
</div>
<ng-container >
<app-item-config
  #caseConfig id='case-config'
  [plusData]="{model:modelSelected, externalDiameter: externalDiameterSelected}"
  [partType]="partType"
  [items]="items">
  <div class="visualizador">

    <app-visualizer ttl="Frontal" scaleImg="2" [imgURL]="caseConfig.currentItem?.imgData.url"
                    [lock]="!caseConfig.isEditable"
                    (alSeleccionar)="caseConfig.onFileChanged($event)"></app-visualizer>

  </div>
  <div class="l-s">
    <div class="part-sub-tttl">
      <i class="fal fa-database doc-top-ico"></i>
      <div class="ttl"><strong>Datos generales</strong></div>
    </div>
    <div class="cnt-inputs">

      <app-input [isDisabled]="!caseConfig.isEditable" [value]="caseConfig.currentItem?.name" ttl="Nombre"
                 placeholder="Nombre"
                 (whenWriting)="caseConfig.writingName($event)"></app-input>

      <app-input [isDisabled]="true" [value]="caseConfig.currentItem?.model?.name" ttl="Modelo"
      ></app-input>
      <app-input [isDisabled]="true" [value]="caseConfig.currentItem?.externalDiameter?.name"
                 ttl="Diámetro externo"
      ></app-input>
      <!--<app-m-select [filteredStraps]="[itemConfig.currentItem.externalDiameter]"-->
      <!--[isDisabled]="true"-->
      <!--tittle="Modelo"-->
      <!--(whenSelecting)="caseConfig.currentItem.externalDiameter= $event"></app-m-select>-->
    </div>

    <div class="part-sub-tttl">
      <i class="fal fa-language doc-top-ico"></i>
      <div class="ttl"><strong>Datos multi-idioma</strong></div>
    </div>

    <app-tabs>
      <div class="tab-item-content"
           *ngFor="let t of currentData.supportedLangs"
           [class.tab-opt-act]="caseConfig.selectedLanguage===t" (click)="caseConfig.selectLanguage(t)">
        <div>{{t.name}}</div>
      </div>
    </app-tabs>

    <div class="cnt-inputs">
      <app-input
        ttl="Nombre"
        placeholder="Nombre"
        langCode="{{caseConfig.selectedLanguage?.code}}"
        [value]="caseConfig.currentItem[caseConfig.selectedLanguage.code]?.name"
        [isDisabled]="!caseConfig.isEditable"
        (whenWriting)="caseConfig.whenWriting($event)">
      </app-input>
      <app-input
        ttl="Modelo"
        placeholder="Modelo"
        [isDisabled]="!caseConfig.isEditable"
        [value]="caseConfig.currentItem[caseConfig.selectedLanguage.code]?.model"
        langCode="{{caseConfig.selectedLanguage.code}}"
        (whenWriting)="caseConfig.currentItem[caseConfig.selectedLanguage.code].model=$event">
      </app-input>
    </div>
  </div>
</app-item-config>
</ng-container>
