<div class="cnttnt">
  <app-item-config #item [partType]="partType" [items]="current.cases">
    <div class="visualizador">
      <app-visualizer ttl="Frontal" scaleImg="2" [imgURL]="item.currentItem?.imgData.url" [lock]="!item.isEditable"
                      (alSeleccionar)="item.onFileChanged($event)"></app-visualizer>
    </div>
    <div class="l-s">
      <div class="part-sub-tttl">
        <i class="fal fa-database doc-top-ico"></i>
        <div class="ttl"><strong>Datos generales</strong></div>
      </div>
      <div class="cnt-inputs">
        <app-input [disable]="!item.isEditable" [value]="item.currentItem?.name" ttl="Nombre"
                   placeholder="Nombre"
                   (alEscribir)="item.writingName($event)"></app-input>

        <app-m-select [items]="current.models" [isDisabled]="!item.isEditable"
                      tittle="Modelo"
                      (whenSelecting)="item.currentItem.model= $event"></app-m-select>

        <app-input [disable]="!item.isEditable" [value]="item.currentItem?.code" ttl="Código ID"
                   placeholder="###"
                   (alEscribir)="item.currentItem.code= $event"></app-input>
      </div>

      <div class="part-sub-tttl">
        <i class="fal fa-language doc-top-ico"></i>
        <div class="ttl"><strong>Datos multi-idioma</strong></div>
      </div>

      <app-tabs>
        <div class="tab-item-content"
             *ngFor="let t of current.supportedLangs"
             [class.tab-opt-act]="item.selectedLanguage===t" (click)="item.selectLanguage(t)">
          <div>{{t.name}}</div>
        </div>
      </app-tabs>

      <div class="cnt-inputs">
        <app-input
          ttl="Nombre"
          placeholder="Nombre"
          langCode="{{item.selectedLanguage?.code}}"
          [value]="item.currentItem[item.selectedLanguage.code]?.name"
          [disable]="!item.isEditable"
          (alEscribir)="item.whenWriting($event)">
        </app-input>

        <app-input
          ttl="Modelo"
          placeholder="Modelo"
          [disable]="!item.isEditable"
          [value]="item.currentItem[item.selectedLanguage.code]?.model"
          langCode="{{item.selectedLanguage.code}}"
          (alEscribir)="item.currentItem[item.selectedLanguage.code].model=$event">
        </app-input>
      </div>
    </div>
  </app-item-config>
</div>
