.main_login {
  position: absolute;
  width: 100%;
}


.ttl_active {
  height: calc(100% - 32px);
}

.ttl_unable {
  height: calc(100%);
}

.err {
  color: #e93c30;
  margin: .5em;
}

.bg_img {
  position: absolute;
  width: 100%;
  height: calc(100%);
  background: var(--background-sidebar);
  background-size: cover;
}

._overlay {
  /*display: 100%;*/
  overflow: auto;
  width: 100%;
  height: calc(100%);
  /* will be "on top", if browser supports it */
  background-image: linear-gradient(var(--background-sidebar), #242935);
  /* these will reset other properties, like background-position, but it does know what you mean */
  background: red;

  background: linear-gradient(var(--background-sidebar), #242935);

  /*background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);*/
  opacity: 1;
}

.logo {
  width: 20em;
  margin: 1em;
  /*margin: 0 auto;*/
}

.txt-log {
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  margin: 2em;
}

.ins {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 5px;
  /*align-items: center;*/
  box-sizing: border-box;
  text-align: center;
}

.sdn {
  background: #cccccc;
  justify-content: right;
  text-align: left;
  margin: 0;
}

.las {
  width: 20em;
  border-radius: .2em;
  /*background-color: rgba(31, 31, 31, 0.4);*/
  /*border: 1px solid rgba(255, 255, 255, 0.06);*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  border-radius: .2em;
  height: 3rem;
  border: none;
  /*font-size: 1em;*/
  padding-left: 1.5em;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  margin: 0;
  color: white;
  box-sizing: border-box;
  /*background-color: #f7f7f7;*/
}

.lgn_logo_conatiner {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.btn-work:hover {
  cursor: pointer;
  opacity: .8;
  color: yellow;
}

.btn-work:active {
  cursor: pointer;
  opacity: 1;
}

.card_login {
  width: 90%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -70%);
  /*background-color: #DB3650;*/
}

.asdv {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.casd {
  margin-left: 1.5em;
  color: white;
  /*margin-right: 1em;*/
}

.btn-work {
  width: 100%;
  margin-top: .5em;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .1em;
  color: rgba(255, 255, 255, 0.61);
  font-size: 1em;
  background-color: #1d1d1d;
  /*border: 2px solid coral;*/
}

@media (min-width: 40em) {
  .card_login {
    width: 40em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
    /*background-color: #3a3a3a;*/
  }

  .logo {
    width: 25em;
    margin: 5em;
  }
}



