<div class="main_login" [ngClass]="tool.show_windows_tittle_bar ?'ttl_active' : 'ttl_unable'">
  <div class="bg_img"></div>

  <div class="_overlay"></div>
  <div class="card_login">
    <img class="logo" src="assets/common/logo_w.svg" alt="Moena 1989">
    <div class="lg-sub">PANEL DE CONTROL</div>
    <!--<div>-->
    <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aut delectus deserunt eum exercitationem id ipsam-->
    <!--labore laborum maiores, molestiae mollitia nemo odio officia perspiciatis qui quo sit, tempore unde!-->
    <!--</div>-->
    <div class="las" (click)="ingresar()">
      <i class="fal fa-lock"></i>
      <div class="btn-work">Ingresar</div>
    </div>
    <div class="err">{{err_msg}}</div>
  </div>
</div>
