<div class="main_login" [ngClass]="tool.show_windows_tittle_bar ?'ttl_active' : 'ttl_unable'">
  <!--<div class="bg_img"></div>-->
  <div class="_overlay"></div>
  <div class="card_login">
    <img class="logo" src="assets/common/logo_w.svg" alt="Moena 1989">
    <div class="las">
      <div class="asdv">
        <i class="fal fa-user casd"></i>
        <input type="email" #email placeholder="Usuario" name="email">
      </div>
      <div class="asdv">
        <i class="fal fa-unlock casd"></i>
        <input type="password" #pass placeholder="Contraseña" name="pass">
      </div>
      <div class="btn-work" (click)="ingresar(email.value,pass.value)">Ingresar</div>
    </div>
      <div class="err">{{err_msg}}</div>
  </div>
</div>
