<div class="doc">

  <div class="doc-top">
    <i class="fal fa-chart-network doc-top-ico"></i>
    <div class="doc-top-ttl">Temporadas</div>
  </div>
  <app-tabs>
    <div class="tab-opt"
         *ngFor="let t of tendencias"
         [class.tab-opt-act]="temporadaSeleccionda?.metadata.key===t.metadata.key"
         (click)="seleccionarTendencia(t)">
      <i
        [class.dot-active]="t.estado===relojData.opcsEstadosTendencias.publica.nombre"
        class="fas fa-circle tab-ido"
      ></i>
      <!--<div> {{t['es'].nombre}}</div>-->
    </div>
    <div class="tab-opt-new" (click)="mdNuevaTendencia.open()">
      <i class="fal fa-plus tab-io"></i>
      <div>Nueva Temporada</div>
    </div>
  </app-tabs>

  <ng-container *ngIf="temporadaSeleccionda">
    <div class="tmp-opts-temp" *ngIf="_tendenciaSeleccionada">
      <app-m-select ttl="Estado"
                    (alSeleccionar)="_tendenciaSeleccionada.estado= $event.nombre"
                    [itemSeleccionado]="{nombre: _tendenciaSeleccionada.estado}"
                    [items]="[relojData.opcsEstadosTendencias.privada,relojData.opcsEstadosTendencias.publica]">
      </app-m-select>
      <app-form-button text="Eliminar temporada" (click)="mdEliminarTemp.open()">
      </app-form-button>
      <app-form-button text="Guardar Cambios" (click)="actualizarTemporada(_tendenciaSeleccionada)"></app-form-button>
    </div>

    <div class="tr-ttl-side">Colecciones</div>
    <div class="ln"></div>
    <div class="ctasd">
      <app-vertical-bar>

        <!--routerLink="{{'../'+tipoItem+'/'+caja.nombre}}"-->
        <div class="side-opt sssss" *ngFor="let c of colecciones" [class.side-act]="c===coleccionSeleccionada"
             (click)="seleccionarColeccion(c)">
          <div class="tr-td-cnt">
            <!--<div class="">-->
            <i [class.dot-active]="c.estado===relojData.opcsEstadosTendencias.publica.nombre"
               class="fas fa-circle tab-ido"></i>
            <div>
              {{c.nombre}}
            </div>
          </div>
          <div class="tr-status">{{c?.modelo}}</div>
        </div>
        <!--</div>-->
        <!--<i class="fal fa-file-alt  icoss_op"></i>-->
        <!--<div>{{caja.nombre}}</div>-->
        <!--</div>-->
        <div class="side-opt" *ngIf="temporadaSeleccionda" (click)="mdNuevaColeccion.open()">
          <i class="fal fa-plus icoss_op"></i>
          <div>Nuevo Ítem</div>
        </div>
      </app-vertical-bar>

      <div class="tr-cnt-config">
        <div class="afas">{{_coleccionSeleccionada?.nombre}}</div>
        <div class="config-tt">
          <div class="col-vis">
            <app-visualizer ttl="Frontal" [imgURL]="_coleccionSeleccionada['imgUrl']" [lock]="true"
                            (alSeleccionar)="currentFileColection=$event"></app-visualizer>
          </div>
          <app-m-select ttl="Estado"
                        (alSeleccionar)="_coleccionSeleccionada.estado= $event.nombre"
                        [itemSeleccionado]="{nombre: _coleccionSeleccionada.estado}"
                        [items]="[relojData.opcsEstadosTendencias.publica,relojData.opcsEstadosTendencias.privada]">
          </app-m-select>

          <app-form-button text="Guardar Colección" (click)="actualizarColeccion(_coleccionSeleccionada)">
          </app-form-button>

          <app-form-button text="Eliminar temporada" (click)="actualizarColeccion(_coleccionSeleccionada)">
          </app-form-button>

        </div>
        <!--<div class="ln"></div>-->
        <div class="afass">Configuraciones de Reloj</div>
        <div class="tab-opt" *ngFor="let c of configuraciones">
          <div class="bqe">
            <div class="cf-min">
              <img *ngIf="c.pulso" src="{{c?.pulso.imgUrl}}" alt="cajas" class="mk-im-m">
              <img *ngIf="c.maquinaria" src="{{c.maquinaria.imgUrl}}" alt="cajas" class="mk-im-m ">
              <img *ngIf="c.caja" src="{{c.caja.imgUrl}}" alt="cajas" class="mk-im-m">
            </div>
          </div>
          <div>
            <div>
              {{c.nombre}}
            </div>
            <div>
              {{c.precio}}
            </div>
          </div>

          <!--<app-form-button text="Eliminar Configuracion" (click)="eliminarConfig(_coleccionSeleccionada)">-->
          <!--</app-form-button>-->
        </div>
        <div class="tab-opt" (click)="mdNuevaConfiguracion.open()">
          Nueva configuración
        </div>
      </div>
    </div>
  </ng-container>
</div>

<!--////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<ngx-smart-modal #mdNuevaTendencia identifier="mdNuevaTendencia">

  <div class="modal-tittle-bar">
    <i class="fal fa-plus modal-tittle-ico"></i>
    Nueva Temporada
  </div>

  <div class="md-cnt">Las tendencias serán privadas, hasta que exista por lo menos una colección con una configuración
    de reloj
  </div>

  <div class="md-cnt">
    <app-m-select ttl="Estado" (alSeleccionar)="nuevaTemporada.estado=$event.nombre" disable="{{true}}"
                  [items]="[relojData.opcsEstadosTendencias.privada]"></app-m-select>
    <app-tabs>
      <div class="tab-opt"
           *ngFor="let t of currentStorageService?.idiomas"
           [class.tab-opt-act]="idiomaSeleccionado.codigo===t.codigo" (click)="seleccionarIdiomaTendencia(t)">
        <div>{{t?.nombre}}</div>
      </div>
    </app-tabs>
    <!---->
    <div class="i-v">
      <app-input ttl="Nombre"
                 [disable]="!esEditable"
                 [value]="nuevaTemporada[idiomaSeleccionado.codigo].nombre"
                 placeholder="Nombre ({{idiomaSeleccionado.codigo}})"
                 (alEscribir)="nombreTemporada($event)"
      ></app-input>
    </div>
    <!--<div class="i-v" *ngIf="idiomaSeleccionado.local==='de'">-->
    <!--<app-m-select ttl="Estado" (alSeleccionar)="nuevaTemporada.estado=$event.nombre" disable="{{true}}"-->
    <!--[items]="[relojData.opcsEstadosTendencias.privada]"></app-m-select>-->

    <!--<app-input [disable]="!esEditable" [value]="nuevaTemporada.nombre" ttl="Nombre"-->
    <!--(alEscribir)="nuevaTemporada.nombre= $event"></app-input>-->
    <!--</div>-->

    <!--<div class="i-v" *ngIf="idiomaSeleccionado.local==='es'">-->
    <!--<app-m-select ttl="Estado" (alSeleccionar)="nuevaTemporada.estado=$event.nombre" disable="{{true}}"-->
    <!--[items]="[relojData.opcsEstadosTendencias.privada]"></app-m-select>-->

    <!--<app-input [disable]="!esEditable" [value]="nuevaTemporada.nombre" ttl="Nombre"-->
    <!--(alEscribir)="nuevaTemporada.nombre= $event"></app-input>-->
    <!--</div>-->

    <!--<div class="i-v" *ngIf="idiomaSeleccionado.local==='fr'">-->
    <!--<app-m-select ttl="Estado" (alSeleccionar)="nuevaTemporada.estado=$event.nombre" disable="{{true}}"-->
    <!--[items]="[relojData.opcsEstadosTendencias.privada]"></app-m-select>-->

    <!--<app-input [disable]="!esEditable" [value]="nuevaTemporada.nombre" ttl="Nombre"-->
    <!--(alEscribir)="nuevaTemporada.nombre= $event"></app-input>-->
    <!--</div>-->

    <!--<div class="i-v" *ngIf="idiomaSeleccionado.local==='it'">-->
    <!--<app-m-select ttl="Estado" (alSeleccionar)="nuevaTemporada.estado=$event.nombre" disable="{{true}}"-->
    <!--[items]="[relojData.opcsEstadosTendencias.privada]"></app-m-select>-->

    <!--<app-input [disable]="!esEditable" [value]="nuevaTemporada.nombre" ttl="Nombre"-->
    <!--(alEscribir)="nuevaTemporada.nombre= $event"></app-input>-->
    <!--</div>-->
  </div>
  <div class="modal-bottom-cnt">
    <div class="modal-bottom-button bt-ok" (click)="pushTemporada(nuevaTemporada)">Iniciar nueva temporada</div>
  </div>
</ngx-smart-modal>
<ngx-smart-modal #mdNuevaColeccion identifier="modalNewTrends">
  <div class="modal-tittle-bar">
    <i class="far fa-ballot-check modal-tittle-ico"></i>
    Nueva colección
  </div>
  <div class="md-cnt">
    <div class="col-vis">
      <app-visualizer ttl="Frontal" [imgURL]="nuevaColeccion['imgUrl']" [lock]="false"
                      (alSeleccionar)="currentFileColection=$event"></app-visualizer>
    </div>
    <app-input ttl="Nombre Colección"
               [disable]="!esEditable"
               [value]="nuevaColeccion.nombre"
               (alEscribir)="nuevaColeccion.nombre= $event"></app-input>

    <app-m-select ttl="Estado"
                  (alSeleccionar)="nuevaColeccion.estado= $event.nombre"
                  [items]="[relojData.opcsEstadosTendencias.privada]"></app-m-select>

    <app-m-select ttl="Modelo de Reloj"
                  [disable]="!esEditable"
                  (alSeleccionar)="nuevaColeccion.modelo = $event.nombre"
                  [items]="relojData.modelos">
    </app-m-select>

    <app-input ttl="Precio"
               [disable]="!esEditable"
               [value]="nuevaColeccion.precio"
               (alEscribir)="nuevaColeccion.precio= $event"></app-input>

    <app-input ttl="Descripción"
               [disable]="!esEditable"
               [value]="nuevaColeccion.descripcion"
               (alEscribir)="nuevaColeccion.descripcion= $event"></app-input>
  </div>

  <div class="modal-bottom-cnt">
    <div class="modal-bottom-button bt-ok" (click)="pushColeccion()">Iniciar nuevo registro</div>
  </div>

</ngx-smart-modal>
<ngx-smart-modal #mdNuevaConfiguracion identifier="mdNuevaConfiguracion">

  <div class="modal-tittle-bar">
    <i class="far fa-ballot-check modal-tittle-ico"></i>
    Nueva configuración
  </div>

  <app-tabs>
    <div class="tab-opt"
         *ngFor="let t of tendencias"
         [class.tab-opt-act]="temporadaSeleccionda?.metadata.key===t.metadata.key"
         (click)="seleccionarTendencia(t)">
      <i [class.dot-active]="t.estado===relojData.opcsEstadosTendencias.publica.nombre"
         class="fas fa-circle tab-ido"></i>
      <div> {{t.nombre}}</div>
    </div>
    <div class="tab-opt-new" (click)="mdNuevaTendencia.open()">
      <i class="fal fa-plus tab-io"></i>
      <div>Nueva Temporada</div>
    </div>
  </app-tabs>

  <div class="md-cnt">
    Representa la configuración especifica por la temporada-Tendencia a la que corresponde, se deben agregar tantas como
    personalizaciones se quieran en la página.
  </div>

  <div class="md-cnt">
    <app-input ttl="Nombre"
               [value]="nuevaConfiguracion.nombre"
               (alEscribir)="nuevaConfiguracion.nombre= $event"></app-input>

    <app-input ttl="Precio"
               [value]="nuevaConfiguracion.precio"
               (alEscribir)="nuevaConfiguracion.precio= $event"></app-input>

    <app-m-select ttl="Modelo de Reloj"
                  [disable]="!esEditable"
                  (alSeleccionar)="nuevaConfiguracion.modelo = $event"
                  [items]="relojData.modelos">
    </app-m-select>

    <app-m-select ttl="Hebilla"
                  [disable]="!esEditable"
                  (alSeleccionar)="nuevaConfiguracion.hebilla= $event"
                  [items]="relojData.hebillas"></app-m-select>

    <app-m-select ttl="Maquinaria"
                  [disable]="!esEditable"
                  (alSeleccionar)="nuevaConfiguracion.maquinaria= $event"
                  [items]="relojData.maquinarias"></app-m-select>
    <!--Todo Hay que filtrar las cajas de acuerdo al modelo seleccionado-->
    <app-m-select ttl="Caja"
                  [disable]="!esEditable"
                  (alSeleccionar)="nuevaConfiguracion.caja= $event"
                  [items]="relojData.cajas"></app-m-select>

    <app-m-select ttl="Tapa"
                  [disable]="!esEditable"
                  (alSeleccionar)="nuevaConfiguracion.tapa= $event"
                  [items]="relojData.tapas"></app-m-select>

    <app-m-select ttl="Pulso"
                  (alSeleccionar)="nuevaConfiguracion.pulso= $event"
                  [items]="relojData.pulsos">
    </app-m-select>

    <app-m-select ttl="Cristal"
                  (alSeleccionar)="nuevaConfiguracion.cristal= $event"
                  [items]="relojData.cristales"></app-m-select>
  </div>

  <div class="modal-bottom-cnt">
    <div class="modal-bottom-button bt-ok" (click)="pushConfiguracion()">Iniciar nuevo registro</div>
  </div>
</ngx-smart-modal>
<!--///////////////////////////////////////////////////////////////////////////////////////////-->

<ngx-smart-modal #mdEliminarTemp identifier="mdEliminarTempo">
  <div class="modal-tittle-bar">
    <i class="fal fa-exclamation-circle modal-tittle-ico"></i>
    Advertencia
  </div>

  <div class="md-cnt">¿Deseas eliminar la temporada? las colecciones y tendencias incluidas se eliminarán
  </div>

  <div class="modal-bottom-cnt">
    <div class="modal-bottom-button bt-ok" (click)="mdEliminarTemp.close()">NO</div>
    <div class="modal-bottom-button bt-ok" (click)="eliminarTemporada(temporadaSeleccionda)">ELIMINAR</div>
  </div>
</ngx-smart-modal>
