.selc {
  /*height: 4em;*/
  /*background: aquamarine;*/
  margin-right: 1em;
  padding: 0;
  /*margin: .5em;*/
}

.sl-ttl {
  font-size: .8em;
  margin-bottom: .5em;
  margin-top: .5em;
  opacity: .6;
  /*font-weight: 600;*/
}

.selt {
  size: .8em;
  font-weight: lighter;
}

.ss {
  -webkit-appearance: none;
  padding: .5em;
  border: 1px solid rgba(221, 221, 221, 0.5);
  width: 12em;
  border-radius: .3em;
  background: rgba(247, 247, 247, 0);
}

select#fixed {
  -webkit-appearance: none;
}
input:placeholder-shown {
  -webkit-appearance: none;
  /*user-s;*/
  /*font;*/
}

.ss:disabled {
  padding: .5em;
  background: rgba(247, 247, 247, 0.4);
  border: 1px solid rgba(221, 221, 221, 0.5);
}
