<div class="selc">
  <div class="sl-ttl">{{ttl}}</div>
  <div class="custom-select">
    <label>
      <select class="ss" [(ngModel)]="_datoSeleccionado" [disabled]="disable || current_opciones.length===1">
        <option *ngIf="current_opciones.length!==1" [ngValue]="undefined" hidden>------</option>
        <option *ngIf="current_opciones.length===1" [ngValue]="undefined" hidden>{{current_opciones[0].name}}
        </option>
        <option *ngFor="let opc of current_opciones" [ngValue]="opc">{{opc.name}}</option>
      </select>
    </label>
  </div>
</div>
