.selc {
  margin-right: 1em;
}

.disabled {
  background: rgba(247, 247, 247, 0);
  color: rgba(0, 0, 0, 0.8);
}

.sl-ttl {
  font-size: .8em;
  margin-bottom: .5em;
  margin-top: .5em;
  opacity: .6;
}

.selt {
  size: .8em;
  font-weight: lighter;
}

.custom-select {
  display: flex;
  align-items: center;
}

.sl-static-ph {
  margin-right: .5em;
  opacity: .5;
}

.inpt-cnt {
  display: flex;
  -webkit-appearance: none;
  padding: .3em;
  width: 10em;
  border: 1px solid #eeeeee;

  align-items: center;
  border-radius: .2em;
  position: relative;
}

.elinput {
  background: rgba(221, 221, 221, 0);
  border: rgba(95, 158, 160, 0);
  width: 15em;

}

.type-inpt {
  margin-right: .7em;
  margin-left: .4em;
  width: 1em;
  line-height: .8em;
  //color: var(--icon-color-hover);
  font-size: .8em;
  font-weight: bold;
  opacity: .5;
}

.type-inpt-s {
  right: 0;
  position: absolute;
  margin-right: .5em;
  margin-left: .2em;
  //color: var(--icon-color-hover);
  font-size: .8em;
  font-weight: bold;
  opacity: .5;
  cursor: pointer;
  -webkit-transition: .2s all;
  -moz-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;

  &:hover {
    -webkit-transition: .2s all;
    -moz-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
    color: #ff253a;
    opacity: 1;
  }
}

.inp-err-msg {
  display: flex;
  font-size: .7em;
  //color: #ff253a;
  margin-left: .4em;
  align-items: center;
  height: .9em;
  opacity: .5;
  //background: #dddddd;
  padding-top: .4em;
}
