<!--<div class="selc">-->
<div class="sl-ttl">{{ttl}}</div>
<div class="custom-select">
  <div class="sl-static-ph" *ngIf="staticPlaceHolder">{{staticPlaceHolder + ' -'}}</div>
  <div [class.inpt-cnt]="!isDisabled" [class.ladr]="isDisabled">
    <div class="type-inpt" *ngIf="type!=='number'&& langCode!==undefined">{{langCode?.toLocaleUpperCase()}}</div>
    <!--<div class="type-inpt" *ngIf="type==='number'&& langCode!==''">#</div>-->
    <input (keydown.enter)="send($event)" [disabled]="isDisabled" value="AIL FAIL FAIL F"
           (keyup)="tecla($event.key)"
           maxlength="{{maxLength}}"
           placeholder="{{placeholder}}"
           [(ngModel)]="val"
           [class.disabled]="isDisabled" class="elinput">
    <i class="fa fa-fw fa-times type-inpt-s" *ngIf="errMsg!=='' && !isDisabled" (click)="clear()"> </i>
  </div>
</div>
<div class="inp-err-msg">
  <div *ngIf="!isDisabled">
    {{errMsg}}
  </div>
</div>
<!--</div>-->
