<div class="main_card">


  <h1>{{rj.serial}}</h1>
  <div><strong>Fecha de registro: </strong>{{rj.fecha}}</div>
  <div><strong>Red md5: </strong>{{rj.ref_md}}</div>
  <div><strong>Mano de Obra: </strong>{{ rj.manos}}</div>
  <div><strong>lote #: </strong>{{ rj.lote}}</div>
  <div><strong>piezas :</strong>{{rj.piezas}}</div>
  <div><strong>Modelo: </strong>{{rj.modelo}}</div>
  <div><strong>Colección: </strong>{{rj.coleccion}}</div>
  <div><strong>Material Principal: </strong>{{rj.material_principal}}</div>
  <div><strong>Material Pulso: </strong>{{rj.material_pulso}}</div>
</div>
