.main_card {
  width: auto;
  display: flex;
  position: relative;
  /*height: 5em;*/
  background-color: #f7f7f7;
  border-radius: .2em;
  margin: .5em;
  padding: .5em;
  flex-direction: column;
}

.bt_cerrar {
  /*margin: .5em;*/
  background: rgba(58, 58, 58, 0.91);
  /*border: 1px solid black;*/
  border-radius: .2em;
  padding: .5em;
  display: flex;
  width: auto;
  /*height: 5em;*/
  cursor: pointer;
  text-align: center;
  color: #f7f7f7;
  font-weight: bold;
  margin: .5em;
  align-items: center;
  justify-content: center;
  opacity: .8;
}

.bt_cerrar:hover {
  opacity: 1;
}
