.main_login {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.log_input {
  background: rgba(255, 255, 255, 0.8);
  color: #0c0019;
  margin-top: .3em;
  width: 20em;
  height: 2.5em;
  box-sizing: border-box;
  padding: 1em;

}

.log-input-cnt {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ttl_active {
  height: calc(100% - 32px);
}

.ttl_unable {
  height: calc(100%);
}

.lg-sub {
  /*font-family: 'Homemade Apple', cursive;*/
  /*font-size: 2em;*/
  /*font-weight: 700;*/
  color: #dddddd;
}

.err {
  color: #e93c30;
  margin: .5em;
}

.bg_img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/log_in/background_log_in.jpg");
  background-size: cover;
}

._overlay {
  overflow: auto;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(var(--background-sidebar), #242935);
  background: red;
  background: linear-gradient(var(--background-sidebar), #242935);
  opacity: 1;
}

.logo {
  width: 10rem;
  margin: 3rem;
}

/*.logo {*/
/*width: 25em;*/
/*margin: 1em;*/
/*}*/

.txt-log {
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  margin: 2em;
}

.ins {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
}

.sdn {
  background: #cccccc;
  justify-content: right;
  text-align: left;
  margin: 0;
}

.las {
  /*padding: .5em 1em .5em 1em;*/
  margin-top: 3em;
  text-align: center;
  height: 2em;
  width: 14.5em;
  padding: 1em;
  display: flex;
  align-items: center;
  border-radius: .2em;
  color: rgba(255, 255, 255, 0.2);
  /*border: 1px solid rgba(255, 255, 255, 0.2);*/
  cursor: pointer;
  justify-content: center;
}

.las:hover {
  color: white;
  /*background: var(--icon-color-selected);*/
}


input {
  border-radius: .2em;
  height: 3rem;
  border: none;
  /*font-size: 1em;*/
  padding-left: 1.5em;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  margin: 0;
  color: white;
  box-sizing: border-box;
}

.lgn_logo_conatiner {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.btn-work {
  /*margin-left: 1em;*/
  /*font-weight: 400;*/
}

.card_login {
  width: 80%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.asdv {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.casd {
  margin-left: 1.5em;
  color: white;
}


