<div class="main_login" [ngClass]="tool.show_windows_tittle_bar ?'ttl_active' : 'ttl_unable'">
  <div class="bg_img"></div>
  <div class="_overlay"></div>
  <div class="card_login">
    <img class="logo" src="assets/common/logo_w.svg" alt="Moena 1989">
    <div class="lg-sub">LOGIN</div>

    <div>
      <input #email placeholder="Email" class="log_input" type="email">
      <input #pass placeholder="Pass" class="log_input" type="password">
    </div>

    <div class="las" (click)="ingresarConUsuario(email.value,pass.value)">
      <i class="fal fa-lock"></i>
      <div class="btn-work">Ingresar</div>
    </div>
    <div class="err">{{err_msg}}</div>
  </div>
</div>
