.main_login {
  position: absolute;
  width: 100%;
}

.log_input {
  background: white;
  margin: 1em;
}

.ttl_active {
  height: calc(100% - 32px);
}

.ttl_unable {
  height: calc(100%);
}

.lg-sub {
  /*font-family: 'Homemade Apple', cursive;*/
  /*font-size: 2em;*/
  font-weight: 700;
  color: #dddddd;
}

.err {
  color: #e93c30;
  margin: .5em;
}

.bg_img {
  position: absolute;
  width: 100%;
  height: calc(100%);
  background-image: url("/assets/log_in/background_log_in.jpg");
  background-size: cover;
  /*filter: blur(.2em);*/
}

._overlay {
  /*display: 100%;*/
  overflow: auto;
  width: 100%;
  height: calc(100%);
  /* will be "on top", if browser supports it */
  background-image: linear-gradient(var(--background-sidebar), #242935);
  /* these will reset other properties, like background-position, but it does know what you mean */
  background: red;

  background: linear-gradient(var(--background-sidebar), #242935);

  /*background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);*/
  opacity: 1;
}

.logo {
  width: 20em;
  margin: 1em;
  /*margin: 0 auto;*/
}

.txt-log {
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  margin: 2em;
}

.ins {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 5px;
  /*align-items: center;*/
  box-sizing: border-box;
  text-align: center;
}

.sdn {
  background: #cccccc;
  justify-content: right;
  text-align: left;
  margin: 0;
}

.las {
  padding: .5em 1em .5em 1em;
  margin-top: 8em;
  height: 2.5em;
  display: flex;
  align-items: center;
  border-radius: .3em;
  color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  /*background-color: #1d1d1d;*/
  cursor: pointer;
}


.las:hover {
  color: white;
  background: var(--icon-color-selected);
}

input {
  border-radius: .2em;
  height: 3rem;
  border: none;
  /*font-size: 1em;*/
  padding-left: 1.5em;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  margin: 0;
  color: white;
  box-sizing: border-box;
  /*background-color: #f7f7f7;*/
}

.lgn_logo_conatiner {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.btn-work {
  margin-left: 1em;
  font-weight: 400;
}

.card_login {
  width: 90%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -70%);
  /*background-color: #DB3650;*/
}

.asdv {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.casd {
  margin-left: 1.5em;
  color: white;
  /*margin-right: 1em;*/
}


@media (min-width: 40em) {
  .card_login {
    width: 40em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
    /*background-color: #3a3a3a;*/
  }

  .logo {
    width: 25em;
    margin: 1em;
    /*background:url('assets/common/logo_w.svg') no-repeat center center;*/

  }
}



