<img class="logo" src="assets/common/logo_w.svg" alt="Moena 1989">
<div class="nav_options">
  <div class="l_pack">
    <div routerLink="/registro/reloj" class="bts">REGISTRO</div>
    <div routerLink="/buscar" class="bts">BUSQUEDA</div>
  </div>

  <div class="r_pack">
    <div class="info_user_log">
      <div class="current_user">{{this.db.userLogueado.name}} {{this.db.userLogueado.last_name}}</div>
      <div class="current_cargo">{{this.db.userLogueado.cargo}}</div>
    </div>
    <div class="bt_cerrar" (click)="cerrarCuenta()">Cerrar sesión</div>
  </div>
</div>
