
:host {
  width: 100%;
  background: #2C2F3E;
  display: flex;
}

.acti {
  background: #0c0019;
  color: antiquewhite;
}

.acti .opt_txt {
  font-weight: bold;
}


.nav_main_bar {
  /*align-items: center;*/
  z-index: 5;
  /*justify-content: left;*/
  display: flex;
  /*width: auto;*/
  /*height: 3em;*/
  padding-bottom: .5em;
  padding-top: .5em;
  border-bottom: 1px solid coral;
}

.menu {
  width: 4em;
  height: 100%;
  /*background-color: coral;*/
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-img {
  width: 1.5em;
}

.sidebar-closed {
  display: none;
}

.ff {
  position: absolute;
  width: 5em;
  height: 5em;
  background-color: black;
}

.sidebar-opened {
  /*position: absolute;*/
  width: 100%;
  /*height: calc(100% - 4em);*/
  display: flex;
  flex-direction: column;
  position: fixed;
  overflow: hidden;
  border-right: 1px solid rgba(70, 12, 183, 0.1);

}

/*select {*/
/*margin: 50px;*/
/*width: 150px;*/
/*padding: 5px 35px 5px 5px;*/
/*font-size: 16px;*/
/*border: 1px solid #ccc;*/
/*height: 34px;*/
/*-webkit-appearance: none;*/
/*-moz-appearance: none;*/
/*background: url(http://www.stackoverflow.com/favicon.ico) 96% / 15% no-repeat #eee;*/
/*}*/

@media (min-width: 40em) {
  .sidebar-opened {
    width: 15em;
    /*background-color: rgba(0, 0, 0, 0.01);*/
    flex-direction: column;
    height: calc(100% - 32px);
    /*padding-top: 4em;*/
    position: fixed;
    z-index: 200;
    overflow-y: hidden;
    background-color: #2C2E3E;
    -webkit-box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.75);

  }

  .svg_logo {
    height: 2em;
    /*background: white;*/
  }

  .nav_main_bar {
    width: 20em;
    display: none;
  }

  .ico_op {
    /*width: 1.5em;*/
    margin: .8em 1em .8em 1.5em; /*background: #e03e3e;*/
    font-size: 1.2em;

    /*background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to right, #E100FF, #7F00FF); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/

    color: #e93c30;
  }

  .obb {
    margin: .8em 1.5em .8em 1.5em; /*background: #e03e3e;*/
    font-size: .5em;
    color: white;
  }

  .nombre {
    font-weight: 600;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.8);
  }

  .cargo {
    font-size: .9em;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
  }

  .ico {
    width: 2.2em;
    height: 2.2em;
    margin: .5em;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #3a3a3a;
  }

  .user_nv {
    /*margin-left: .5em;*/
  }

  .user_data_nv {
    margin: .5em;
    font-size: 2.5em;
  }

  .ssss {
    align-items: center;
    /*justify-content: center;*/
    display: flex;
    /*flex-direction: column;*/
    /*margin: 1.5em;*/
    padding: 1em;
    position: absolute;
    bottom: 0;
    color: white;
    /*background: white;*/
    width: 100%;
    box-sizing: border-box;
  }

  .options_mn {
    /*background: #e4e4e4;*/
    /*margin: 1em;*/
    box-sizing: border-box;
  }

  .item {
    height: 3em;
    display: flex;
    padding-left: .5em;
    align-items: center;
    cursor: pointer;
    color: #cccccc;
    font-size: .85em;
  }

  .suub {
    margin-left: 3em;
    opacity: .5;
  }


  .sbt {
    opacity: .8;
    font-weight: 400;
    text-align: center;
  }

  .item:hover {
    color: #ffffff;
    background: #3a3a3a;
    font-weight: 600;
  }

  .sub {
    padding-left: 1.8em;
    font-weight: 700;
    font-size: .8em;
    color: white;
    opacity: .5;
    margin-bottom: .5em;
    margin-top: .5em;
  }

  .menu {
    display: none;
  }

  .mn {
    height: 10em;
    border-bottom: 1px solid rgba(70, 12, 183, 0.1);
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .msp {
    display: none;
  }

  :host {
    width: 20em;
  }
}

/*.mn {*/
/*height: 2em;*/
/*width: auto;*/
/*display: flex;*/
/*padding: 1em;*/
/*box-sizing: border-box;*/
/*}*/




