<!--MODAL!-->
<ngx-smart-modal #modal identifier="popup">
  <ng-container *ngIf="!validando">
    <h1>Confirmación</h1>
    <p>¿Seguro que deseas continuar y registrar el producto?</p>

    <div class="bt_opts">
      <div class="b bt" (click)="finalizarNuevoRegistro()">Si</div>
      <div class="c bt" (click)="modal.close()">Cancelar</div>
    </div>
  </ng-container>

  <div class="p_espera" *ngIf="validando">Espera un momento...</div>
</ngx-smart-modal>
<!--END MODAL-->

<div class="package_options " *ngIf="!registrable && !registrado">

  <h1>INFORMACIÓN DE LOTE</h1>
  <p>Selecciona la cantidad de items que se registrarán para el nuevo lote</p>
  <div class="options opt_in">
    <app-m-select ttl="Mano" [opciones]="this.est.manos"></app-m-select>
    <app-m-select ttl="Lote #" [opciones]="[{name: (info_lotes.num_nuevo_lote) }]"></app-m-select>
    <div class="selc">
      <p class="sl-ttl">Cantidad</p>
      <div class="custom-select">
        <input class="ss" #ss>
      </div>
    </div>
  </div>
  <div class="bt-n-ref" (click)="IniciarNuevoLote(ss.value)">Iniciar nuevo lote</div>
</div>

<div class="package_options" *ngIf="registrable && !registrado">
  <h1>Nuevo Reloj</h1>

  <div class="visuals">
    <div class="visualizador">
      <app-visualizer ttl="Frontal" (alSeleccionar)="onFileChanged($event,'frontal')"></app-visualizer>
    </div>

    <div class="all_opts">
      <h4 class="ttt">Meta</h4>
      <div class="_ln"></div>

      <div class="options">
        <app-m-select ttl="Mano" [opciones]="this.est.manos"></app-m-select>
        <app-m-select ttl="No. Lote" [opciones]="[{name: info_lotes.current.lote_num}]"></app-m-select>
        <app-m-select ttl="ítem"
                      [opciones]="[{name: info_lotes.current.item_actual+'/'+info_lotes.current.cantidad_por_lote }]"></app-m-select>
      </div>
      <h4 class="ttt">Base</h4>
      <div class="_ln"></div>

      <div class="options">
        <app-m-select ttl="Modelo" [opciones]="est.modelos" (alSeleccionar)="selectModel($event)"></app-m-select>
        <app-m-select ttl="Colección" [opciones]="colecciones_del_modelo_selected"
                      (alSeleccionar)="seleccionarColeccion($event)"></app-m-select>
      </div>

      <h4 class="ttt">Caracteristicas de Personalización</h4>

      <div class="_ln"></div>

      <div class="options">
        <app-m-select *ngFor="let opc of opciones_por_ver" ttl="{{opc.nombre}}" [opciones]="opc.ops"
                      (alSeleccionar)="selectCaracteristica($event,opc.id)"></app-m-select>
      </div>

    </div>
  </div>
  <div class="bt-n-ref" (click)="modal.open()">Crear nuevo registro</div>
</div>

<!--TARJETA QUE VISUALIZA EL NUEVO REGISTRO-->
<div class="pack" *ngIf="registrado">
  <h1>Reloj Registrado</h1>
  <app-reloj-buscado [dataReloj]="relojReg"></app-reloj-buscado>
  <div class="bt-n-ref" (click)="iniciarNuevoRegistro()">Iniciar Nuevo registro</div>
</div>
