:host {
  width: 100%;
  display: flex;
  //height: auto;
  box-sizing: border-box;
  //background: #dddddd;
  //justify-content: center;
  //align-items: center;
}

.cnt {
  margin: .5em;
}

.logo {
  //opacity: .1;
  //width: 50em;
  //margin-top: 20em;
}
