<div class="carta">
  <div class="top_card">
    <!--<h1>Moena 1989 Team</h1>-->
    Moena 1989 Team
  </div>
  <div class="card_cnt">
    <!--<div> Bienvenidos al <strong>nuevo panel de control 1.0</strong>, Desde aquí se pretende gestionar cada-->
    <!--una de las actividades que se realicen dentro de la empresa. A medida que avancemos se iran agregando mas-->
    <!--opciones. A continuación algunos detalles a tener en cuenta:-->
    <!--</div>-->
    <!--<ul>-->

    <!--<li><strong>Se le aplica un poco de love a la UI</strong></li>-->
    <!--<li><strong>Nueva estructura de navegación:</strong> Se reorganizó el flujo del usuario y al mismo tiempom pensar-->
    <!--en escalabilidad.-->
    <!--</li>-->

    <!--<li><strong>La Paleta de colores escogida no es definitiva: </strong> A medida que avance el manual de identidad,-->
    <!--asi mismo avanzará el estilo gráfico ;)-->
    <!--</li>-->

    <!--<li><strong>Se vienen las cuentas de correo personalizadas :D: </strong> Si estás aquí es porque entraste a través-->
    <!--del servicio de cuentas de Google. Y es genial porque con G suit podemos tener nuestros propios correos-->
    <!--@moena.com.co y luego lo configuro para que solo permita esoos correos. Por lo tanto, este ingreso es temporal y-->
    <!--va a cambiar. Va a tener jerarquias y filtros de departamento y toda la cosa.-->
    <!--</li>-->

    <!--<li><strong>Lluvia de ideas: </strong> Los invito a que empiecen a utilizar la plataforma y propongan ideas que-->
    <!--les puedan facilitar la vida y me entretengan un rato :D-->
    <!--</li>-->

    <!--<li><strong>Habemus aplicación de escritorio:. </strong> Ahora es posible exportar el proyecto como una aplicación-->
    <!--nativa de windows y Mac ;).-->
    <!--</li>-->
    <h3> Changelog</h3>
    <strong>{{tools.version}}</strong>
    <ul>
      <li>
        La base de datos practicamente completa y está lista para ser testeada ;)
        -Primero ingresar el lote de cajas a relizar con sus imagenes.
        -finalizado el lote, la caja estará disponible al momento para registrar un reloj.
      </li>
      <li>
        Se agregan seriales a las cajas por cuestiones técnicas.
      </li>
      <li>
        Se escogen algunos colores mientras se definen los colores en el manual de marca.
      </li>
    </ul>
  </div>
</div>

