:host {
  /*padding: 1em;*/
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

.ln {
  width: 100%;
  height: 1px;
  background: #dddddd;
  margin-top: .5em;
  margin-bottom: 1em;
  box-sizing: border-box;
}

.top_cnt {
  background: #f3f3f3;
  /*margin: -1em;*/
  padding: 1em 1em 0em 1em;
  border-bottom: 1px solid #3a3a3a;
}

.tab_bar {
  width: 100%;
  overflow-x: auto;
  display: flex;
  margin-top: .5em;
  /*background: #dddddd;*/
}

.opt_txt {
  padding: .5em 1em .5em 1em;
  font-weight: 400;
  font-size: .5em;
  cursor: pointer;
  opacity: .7;
}

.opt_txt:hover {
  opacity: .9;

}

.active {
  opacity: 1;
  color: white;
  background: #3a3a3a;
}
