body.dialog-open {
  overflow: hidden;
}

.nsm-dialog-btn-close {
  border: 0;
  background: none;
  color: #e03e3e;
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 1.2em;
  cursor: pointer;
  visibility: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  transition: background-color 500ms;
  background-color: transparent;
  z-index: 100;
}

.overlay.nsm-overlay-open {
  background: rgba(0, 0, 0, .6);
  /*background: linear-gradient(*/
  /*  to bottom,*/
  /*  hsla(0, 0%, 0%, 0.13) 0%,*/
  /*  hsla(0, 0%, 0%, 0.137) 8.2%,*/
  /*  hsla(0, 0%, 0%, 0.158) 15.9%,*/
  /*  hsla(0, 0%, 0%, 0.19) 23.3%,*/
  /*  hsla(0, 0%, 0%, 0.232) 30.3%,*/
  /*  hsla(0, 0%, 0%, 0.28) 37%,*/
  /*  hsla(0, 0%, 0%, 0.334) 43.6%,*/
  /*  hsla(0, 0%, 0%, 0.391) 49.9%,*/
  /*  hsla(0, 0%, 0%, 0.45) 56.1%,*/
  /*  hsla(0, 0%, 0%, 0.507) 62.2%,*/
  /*  hsla(0, 0%, 0%, 0.562) 68.3%,*/
  /*  hsla(0, 0%, 0%, 0.611) 74.4%,*/
  /*  hsla(0, 0%, 0%, 0.654) 80.6%,*/
  /*  hsla(0, 0%, 0%, 0.688) 86.9%,*/
  /*  hsla(0, 0%, 0%, 0.71) 93.3%,*/
  /*  hsla(0, 0%, 0%, 0.72) 100%*/
  /*);*/


}

.overlay.transparent {
  background-color: transparent;
}

.nsm-dialog {
  min-height: 15em;
  min-width: 10em;
  max-width: 70em;
  box-sizing: border-box;
}

.nsm-dialog.nsm-dialog-close {
  opacity: 0;
}

.nsm-dialog.nsm-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - (1.75rem * 2));
}

.modal-bottom-button {
  min-width: 3rem;
  border-top: 1px solid #e1e1e1;
  height: 2.5rem;
  display: flex;
  text-align: center;
  box-sizing: border-box;
  border-radius: 1.2rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  vertical-align: center;
  font-size: var(--font-size-m);
  padding: 0 1.5rem;
  margin-left: 1rem;
}

.bt-alrt {
  border: 1px #e03e3e solid;
  color: #e03e3e;
}

.bt-disable {
  background: #b5b5b5;
  border: 1px solid #8d8d8d;
  color: #bfbfbf;
}


.modal-bottom-cnt {
  display: flex;
  pointer-events: auto;
  flex-grow: 1;
  /*border-top: 1px solid #f5f5f5;*/
  /*justify-content: right;*/
  /*height: 6rem;*/
  width: 100%;
  /*margin-bottom:  2rem;*/
  /*margin-right: 0 2rem;*/
  padding: 1.5rem;
  background: #fdfdfd;
  /*height: 3rem;*/
  /*z-index: 80000;*/
  justify-content: flex-end;
  box-sizing: border-box;
}

.modal-bottom-cnt-2 {
  display: flex;
  /*border-top: 1px solid #f5f5f5;*/
  /*justify-content: right;*/
  /*height: 3em;*/
  width: 100%;
  /*margin-bottom:  2rem;*/
  /*margin-right: 0 2rem;*/
  padding: 1.5rem;
  /*background: #dddddd;*/
  /*height: 3rem;*/
  justify-content: flex-end;
  box-sizing: border-box;
}

.nsm-content {
  /*position: relative;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*pointer-events: auto;*/
  overflow: hidden;
  position: absolute;
  background-color: white;
  border-radius: 1.6rem;
  box-sizing: border-box;
  /*margin: 1em;*/
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.1);
  /*outline: 0;*/
  /*!*padding: 1em;*!*/
  width: auto;
  height: auto;
  /*border: 1px solid var(--main-color);*/
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-tittle-bar {
  padding: 2em 2em 1em 2em;
  display: flex;
  /*font-weight: 800;*/
  align-items: center;
  font-size: 1.1em;
  color: var(--main-color);
}

.gwre {
  background: #71ff60;
  width: 100%;
  height: 100%;
  position: relative;
}

.nsm-body {
  width: auto;
  position: relative;
  flex: 1 1 auto;
}

.opts {
  display: flex;
}

.modal-cnt {
  padding: 0em 2em 1em 2em;
}

.modal-tittle-ico {
  margin-right: 16px;
  font-size: 1.4em;
}


/* *************************
* Animations
* *************************/
.nsm-dialog[class*=nsm-dialog-animation-] {
  transition: transform 500ms ease-in-out, opacity 500ms;
}

.nsm-dialog-animation-ltr {
  transform: translate3d(-50%, 0, 0);
}

.nsm-dialog-animation-ltr.nsm-dialog-open {
  transform: translate3d(0, 0, 0);
}

.nsm-dialog-animation-ltr.nsm-dialog-close {
  transform: translate3d(-50%, 0, 0);
}

.nsm-dialog-animation-rtl {
  transform: translate3d(50%, 0, 0);
}

.nsm-dialog-animation-rtl.nsm-dialog-open {
  transform: translate3d(0, 0, 0);
}

.nsm-dialog-animation-rtl.nsm-dialog-close {
  transform: translate3d(50%, 0, 0);
}

.nsm-dialog-animation-ttb {
  transform: translate3d(0, -50%, 0);
}

.nsm-dialog-animation-ttb.nsm-dialog-open {
  transform: translate3d(0, 0, 0);
}

.nsm-dialog-animation-ttb.nsm-dialog-close {
  transform: translate3d(0, -50%, 0);
}

.nsm-dialog-animation-btt {
  transform: translate3d(0, 50%, 0);
}

.nsm-dialog-animation-btt.nsm-dialog-open {
  transform: translate3d(0, 0, 0);
}

.nsm-dialog-animation-btt.nsm-dialog-close {
  transform: translate3d(0, 50%, 0);
}
