<div class="card">

  <div class="card_cnt">

    <h1>Equipo Moena 1989</h1>
    <div> Bienvenidos al nuevo panel de control de Moena 1989. Desde aquí se tendrá control y seguimiento de
      cada una de las acciones dentro de la empresa. Como verán ya no es una página web ahora es una aplicación de
      escritorio (Windows y Mac) :D

    </div>

    <ul>

      <li>Paleta escogida no es definitiva.</li>

      <li>
        <strong>¡Importante!</strong>
        Cada uno de nosotros debe crear una cuenta pues pretendo filtrar las opciones del
        menu derecho de acuerdo al
        departamento al que se pertenezca.
      </li>

      <li>Ya que practicamente cada uno de nosotros es un departamento os invito a pensar las acciones que se tienen y
        se
        tendrán dentro de la empresa para ir organizando los items del menú lateral.
      </li>

    </ul>
    <p></p>
    <h3> Changelog</h3>

    <strong> V1.0</strong>
    <ul>
      <li>
        Se lanza aplicación de escritorio.
      </li>
      <li>
        Se reorganiza la estructura de navegación.
      </li>

      <li>
        Se escogen algunos colores mientras se definen los colores en el manual de marca.
      </li>
    </ul>
  </div>
</div>
<!--<img class="logo" src="assets/common/logo_b.svg" alt="Moena 1989">-->

