.main_cnt {
  height: auto;
  margin: 0;
  width: 100%;

}

@media (min-width: 40em) {
  .main_cnt {
    margin-left: 15em;
    width: auto;
    height: calc(100% - 3.5em);
    overflow: auto;
  }

  .aslvn {
    padding-top: 4em;
  }

  .menu_ic {
    display: flex;
    align-items: center;
  }

  .miga_bar {
    width: auto;
    height: 3.5em;
    border-bottom: 1px solid rgba(70, 12, 183, 0.1);
    box-sizing: border-box;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*color: white;*/
    /*background: black;*/
  }

  .ico_op {
    margin-right: 1em;
    margin-left: .5em;
    cursor: pointer;
  }

  .miga_ttl {
    font-weight: 500;
    font-size: 1.2em;
    /*opacity: ;*/
  }


  .sub_opt {
    opacity: .5;
    font-weight: 400;
    margin-left: 1em;
    cursor: pointer;
    /*background: #cccccc;*/
  }

  .sub_opt:hover {
    opacity: .8;
  }
}
