.main_cnt {
  height: auto;
  margin: 0;
  width: 100%;

}

@media (min-width: 40em) {
  .main_cnt {
    width: auto;
    height: calc(100% - 3.5em);
    overflow: auto;
  }

  .is-opened {
    margin-left: var(--open-side-bar-width);
  }


  .is-closed {
    margin-left: 0;
  }

  .aslvn {
    padding-top: 4em;
  }

  .menu_ic {
    display: flex;
    align-items: center;
  }


  .ico_op {
    margin-right: 1em;
    margin-left: .5em;
    cursor: pointer;
  }


  .sub_opt {
    opacity: .5;
    font-weight: 400;
    margin-left: 1em;
    cursor: pointer;
    /*background: #cccccc;*/
  }

  .sub_opt:hover {
    opacity: .8;
  }
}
