<div class="doc">
  <div class="top_card">
    <div class="top_ttl">Busqueda</div>
  </div>
  <div class="card_cnt">
    <div class="nv">
      <input type="text" value="" #serial placeholder="Escribe el serial" class="in_buscar" value="{{serial_bs }}">
      <div class="bt_buscar" (click)="buscarBySerial(serial.value)">Buscar</div>
    </div>
    <div class="err">{{err_msg}}</div>
  </div>
</div>
<div class="doc" *ngIf="mostrarBusqueda">

  <div class="top_card">
    <div class="top_ttl">GH-{{reloj.serial}}</div>
  </div>
  <app-reloj-buscado class=" card_cnt"
                     [dataReloj]="reloj"></app-reloj-buscado>
</div>
<!--<div class="bt_cerrar" (click)="cerrar()" *ngIf="mostrarBusqueda">Cerrar busqueda</div>-->
