<!--/////////////////////////////////////////////////////////////////////////////////-->

<ngx-smart-modal #modalResult identifier="modal-result">
  <div class="modal-tittle-bar">
    <i class="far fa-ballot-check modal-tittle-ico"></i>
    Registro exitoso
  </div>
  <!--<div class="modal-cnt">-->
  <!--<app-ver-lote [lote]="lote_final"></app-ver-lote>-->
  <!--</div>-->

  <div class="modal-bottom-cnt">
    <div class="modal-bottom-button bt-ok" (click)="iniciarNuevoRegistro()">Iniciar nuevo registro</div>
  </div>
</ngx-smart-modal>


<ngx-smart-modal #modalAlert identifier="modal-alert">
  <div class="modal-tittle-bar">
    <i class="far fa-engine-warning modal-tittle-ico"></i>
    ¡Alto ahí!
  </div>

  <div class="modal-cnt">
    ¿Deseas continuar y terminar el registro?
  </div>

  <div class="modal-bottom-cnt">
    <div class="modal-bottom-button bt-ok" (click)="iniciarRegistro()">Continuar</div>
    <div class="modal-bottom-button bt-alrt" (click)="modalAlert.close()">Cancelar</div>
  </div>

</ngx-smart-modal>
<!--/////////////////////////////////////////////////////////////////////////////////-->
<ngx-smart-modal #modalSubiendo identifier="modal-subiendo" [dismissable]="false" [escapable]="false">
  <div class="modal-tittle-bar">
    <i class="far fa-circle-notch modal-tittle-ico  fa-spin"></i>
    Subiendo
  </div>
  <div class="modal-cnt">
    <app-loadbar [fill]="porcentaje_registro"></app-loadbar>
  </div>

  <!--<div class="modal-bottom-cnt">-->
  <!--<div class="modal-bottom-button bt-isDisabled" (click)="modalAlert.close()">Cancelar</div>-->
  <!--</div>-->

</ngx-smart-modal>
<!--/////////////////////////////////////////////////////////////////////////////////-->

<div class="doc">
  <div class="doc-top">
    <i class="far fa-puzzle-piece doc-top-ico"></i>
    <div class="doc-top-ttl">Nueva Caja</div>
  </div>
    <div class="paragraph">
      <div class="sub_ttl">1. Base</div>
      <div>Selecciona el modelo y el numero de cajas que se registrarán.
      </div>
    </div>
    <div class="opciones_caja">
      <app-input [disable]="lote_iniciado" ttl="No. Cajas" placeholder="#"
                 (alEscribir)="seleccionarTotalCajas($event)"></app-input>
      <app-m-select [isDisabled]="lote_iniciado" tittle="Modelo" [items]="estructura.MODELOS"
                    (whenSelecting)="seleccionarModeloCaja($event)">
      </app-m-select>
      <div class="ln_v"></div>
      <app-m-select
        *ngIf="current_opciones_caja_modelo.diametro_externo"
        [isDisabled]="lote_iniciado" tittle="Diámetro Externo"
        [items]="current_opciones_caja_modelo.diametro_externo"
        (whenSelecting)="seleccionarDiametroExterno($event)">
      </app-m-select>

      <app-m-select
        *ngIf="current_opciones_caja_modelo.diametro_interno"
        [isDisabled]="lote_iniciado" tittle="Diámetro Interno"
        [items]="current_opciones_caja_modelo.diametro_interno"
        (whenSelecting)="seleccionarDiametroInterno($event)">
      </app-m-select>

    </div>

    <div class="ln"></div>
    <div class="paragraph" *ngIf="current_opciones_caja_modelo.diametro_externo">
      <div class="sub_ttl">2. Caracteristicas Especificas.</div>
      <div>Selecciona el modelo y el numero de cajas que se registrarán.
      </div>
    </div>

    <div class="opciones_caja" *ngIf="current_opciones_caja_modelo.diametro_externo">
      <ng-container *ngFor="let n of current_opciones_caja_modelo.materiales; let i = index">
        <app-m-select
          [isDisabled]="lote_iniciado" tittle="Material {{i+1}}"
          [items]="n"
          (whenSelecting)="seleccionarMaterial($event,i)">
        </app-m-select>
      </ng-container>
    </div>
    <div class="ln" *ngIf="current_opciones_caja_modelo.diametro_externo"></div>

    <div class="paragraph" *ngIf="current_opciones_caja_modelo.diametro_externo">

      <div class="sub_ttl">3. Imagenes del lote</div>
      <div>a. El número de imagenes debe ser igual al número de cajas ingresado previamente.
        <div>b. Las imagenes deben estar enumeradas, sin ningún caracter edicional. (1.jpg, 2.jpg... n.jpg).
        </div>
      </div>

      <label class="cnt_files" *ngIf="current_opciones_caja_modelo.diametro_externo">
        <input type="file" name="datafile" size="40" class="input_file" #file accept='image/*'
               (change)="alSeleccionarImagenes(file.files)" multiple>
        <i *ngIf="stat===''" class="fas fa-cloud-upload ico_up"></i>
        <i *ngIf="stat==='loading'" class="fas fa-spinner ico_up fa-spin"></i>
        <i *ngIf="stat==='ok'" class="fas fa-check ico_up"></i>
        <i *ngIf="stat==='error'" class="fas fa-times ico_up"></i>

        <div *ngIf="!imas_selected">{{msg_img}}</div>
      </label>
      <div class="ln"></div>
      <!--*ngIf="imagenes_finalizadas"-->
      <div class="final_btn" *ngIf="imagenes_finalizadas" (click)="modalAlert.open()">
        Ingresar Nueva Caja
      </div>
      <!--<app-form-button [text]="'continuar'"></app-form-button>-->
    </div>
  </div>
