<div class="top-main-cnt">
  <!--<div style="position: absolute; color: black; font-size: 3em">Web</div>-->
  <div class="d-l-sss">

    <div class="ico_op" style="color: #ff570a; margin: 0 1.5rem">
      <i class="{{iconStyle}} {{current.topBar.faIcon}} er fa-lg"></i>
    </div>


    <!--<i class="far doc-top-ico fa-fw" [ngClass]="[current.topBar.faIcon]"></i>-->
    <div class="itm-cnt-s">
      <div class="doc-top-miga">Web > {{current.topBar.subPageTittle}}</div>
      <div class="doc-top-ttl">{{current.topBar.pageTittle}}</div>
    </div>
  </div>

  <div class="r_side">
    <!--<app-visual-selector tittle="">-->
    <!--<ng-container *ngFor="let c of supportedProducts">-->
    <!--<div class="vsi-item"-->
    <!--(click)="chageTypeProductConfig(c)"-->
    <!--[class.ps-item-act]="c===current.productSelected">{{c.name}}</div>-->
    <!--</ng-container>-->
    <!--</app-visual-selector>-->
    <div class="sssc">
      <div class="nombre">{{current.userData.name}} {{current.userData.lastname}}</div>
      <div class="cargo">{{current.userData.bussinesPosition}}</div>
    </div>
    <i class="fal fa-user-circle usr"></i>
    <i class="far fa-sign-out optsf" (click)="cerrarSesion()"></i>
  </div>
</div>
<div class="magic"></div>
