.menu_ic {
  display: flex;
  align-items: center;
  height: 100%
}

.top-main-cnt {
  z-index: 100;
  width: calc(100vw - var(--sidebar-width));
  color: white;
  justify-content: space-between;
  //height: var(--topbar-height);
  display: flex;
  padding: 1rem;
  align-items: center;
  //border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  //position: fixed;

  //padding: 0 0 0 1em;
  //-webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.03);
  //-moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.03);
  //box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.03);
}

:host {
  width: 100%;
  display: flex;
  position: relative;
}

.magic {
  width: 100%;
  display: flex;
  height: var(--topbar-height);
  //background: #71ff60;
}

.aovsn {
  height: var(--topbar-height);
  width: 100%;
  display: flex;
  background: var(--body-background);
}

.labarra {

}

.tb-ttl {
  font-size: 1.8em;
  opacity: .8;
}

.is-opened {
  //margin-left: var(--sidebar-width);
  width: calc(100% - 2px);

}

.is-closed {
  margin-left: 0;
  width: calc(100% - 2px);
}

.miga_bar {
  height: var(--topbar-height);
  box-sizing: border-box;
  //border-bottom: 1px solid rgba(0, 0, 0, 0.11);
  display: flex;
  position: fixed;
  align-items: center;
  //justify-content: space-between;
  background: var(--background-topbar);
  //-webkit-box-shadow: 0px 2px 35px 0px rgba(0, 0, 0, 0.05);
  //-moz-box-shadow: 0px 2px 35px 0px rgba(0, 0, 0, 0.05);
  //box-shadow: 0px 2px 35px 0px rgba(0, 0, 0, 0.05);
  color: black;
  z-index: 1000;
}

.svg_logo {
  //padding: 1em;
  width: var(--sidebar-width);
  padding: 1.5em;
  //padding: 1em;
  height: 100%;
  box-sizing: border-box;
  background: var(--background-sidebar);
}

.sssc {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-right: 1rem;
  text-align: right;
  line-height: .8rem;
  border: 1px solid #e2e2e2;
  color: black;
  padding: .5rem .5rem .5rem .5rem;
  cursor: pointer;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-medium);
  transition: .2s all;
  border-radius: 1.5rem;

  &:hover {
    transition: .2s all;
    border: 1px solid rgba(var(--main-color-rgb), 0.5);
  }
}

.r_side {
  top: 0;
  display: flex;
  align-items: center;
}

.nombre {
  font-size: .9em;
  line-height: 1;
  font-weight: bold;
}

.cargo {

}

.usr {
  font-size: 2em;
  //color: #e03e3e;
  //padding: .1em;
  //width: em;
  margin-left: .3em;
  text-align: center;
  color: #2C2E3E;
  //margin-right: .3em;
  border-radius: 10em;
}

.itm-cnt-s {
  //width: 15rem;
}

.top-dv {
  height: 2em;
  width: 1px;
  background: #dddddd;
  margin-left: 1em;
  margin-right: 1em;
}

.divider {
  width: 1px;
  background: rgba(44, 46, 62, 0.15);
  height: 100%;
  display: flex;
  margin: .5em;
}

.miga_ttl {
  color: #2C2E3E;
  font-weight: 600;
  font-size: 1.2em;
  padding-left: 1em;
  /*opacity: ;*/
}

.miga {
  margin-left: 1.5em;
  display: flex;
  width: auto;
  align-items: baseline;
  color: rgb(69, 72, 92);
}

