<div class="top-main-cnt">
  <!--<div style="position: absolute; color: black; font-size: 3em">Web</div>-->
  <div class="d-l-sss">
    <div class="ico_op" style="color:var(--main-color); margin-right: .5rem">
      <i class="{{iconStyle}}  {{current.topBar.faIcon}} fa-lg"></i>
    </div>
    <div class="itm-cnt-s">
      <div class="doc-top-miga">Web /  {{current.topBar.subPageTittle}}</div>
      <div class="doc-top-ttl">{{current.topBar.pageTittle}}</div>
    </div>
  </div>

  <div class="r_side">
    <div class="sssc" (click)="modalSettings.open()">
      <i class="{{iconStyle}} fa-user-circle fa-fw" style=" font-size: 1.2rem; color: var(--main-color)"
         (click)="modalSettings.open()"></i>
      <div style="vertical-align: middle; padding: 0 .5rem">
<!--        {{current.userData.email}}-->
      </div>
    </div>
    <i class="{{iconStyle}} fa-sign-out optsf fa-fw" style="" (click)="logout()"></i>
  </div>
</div>

<ngx-smart-modal #modalSettings identifier="modalSettings" customClass="dd">
  <div style="width: 45vw; height: 60vh">
    <div class="item-top-ttl-s">
      <div class="part-sub-ttl">
        <i class="{{iconStyle}} fa-user-circle c-v-ico" style="color: var(--main-color)"></i>
        <div class="f-s-m f-w-medium">andres.gc@moena1989.com</div>
      </div>
    </div>
    <app-settings-modal-page></app-settings-modal-page>
  </div>
</ngx-smart-modal>
