<div class="card">
  <div class="top_card">
    <div class="top_ttl">
      Prueba de Componentes
    </div>
  </div>
  <div class="card_cnt">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad atque consectetur consequatur deleniti
    deserunt dicta doloremque illum impedit labore, minima natus nostrum nulla placeat quisquam ratione rerum unde
    veniam?
    <h2>Prueba de Modales</h2>
    <button (click)="modal.open()">test modal</button>
  </div>
</div>

<div class="card">
  <div class="top_card">
    <div class="top_ttl">
      <!--<i class="far fa-bug"></i>-->
      Bugs
    </div>
  </div>
  <div class="card_cnt">
    <ul>
      <li>Problema con la libreria de Inicio de sesión de Google, parece que está muy beta aún</li>
      <li>Los selects no se reinician cuando se relecciona un item de nuevo, current fix: refrescar la páginca/app</li>
      <li>Electron se cagó. :/ <strong>REPARAR</strong></li>
    </ul>
  </div>
</div>

<div class="card">
  <div class="top_card">
    <div class="top_ttl">
      <!--<i class="far fa-bug"></i>-->
      Tareas pendientes
    </div>
  </div>
  <div class="card_cnt">
    <ul>
      <li>Implementar lay load ;)</li>
      <li>Y si cambiamos a Firestore?</li>
      <li>Revisar el responnsive</li>
    </ul>
  </div>
</div>

<ngx-smart-modal #modal identifier="pop_tst">
  <div class="modal-tittle-bar">
    <i class="far fa-engine-warning modal-tittle-ico"></i>
    ¡Alto ahí!
  </div>
  <div class="modal-cnt">
    Esto es una prueba de modal ;)
  </div>
  <div class="modal-bottom-cnt">
    <div class="modal-bottom-button bt-alrt">Cancelar</div>
    <div class="modal-bottom-button bt-ok">Continuar</div>
  </div>
</ngx-smart-modal>


