:host {

  height: 4em;
  /*background: aquamarine;*/
  /*margin: 1em;*/
  padding: 0;
  margin: .5em;
}

.sl-ttl {
  size: .1em;
  font-weight: normal;
  font-size: 1.2em;
  margin-bottom: .5em;
}

.selt {
  size: .8em;
  font-weight: lighter;
}

.ss {
  -webkit-appearance: none;
  padding: .5em;
  font-family: 'K2D', sans-serif;
  border: none;
  background: #f7f7f7;
  width: 10em;
}




