<ngx-smart-modal #modalResult identifier="modal-result-reloj">
  <div class="modal-tittle-bar">
    <i class="far fa-ballot-check modal-tittle-ico"></i>
    Registro exitoso
  </div>
  <!--<div class="modal-cnt">-->
  <!--<app-reloj-buscado [dataReloj]="currentReloj"></app-reloj-buscado>-->
  <!--</div>-->

  <div class="modal-bottom-cnt">
    <div class="modal-bottom-button bt-ok" (click)="iniciarNuevoRegistro()">Iniciar nuevo registro</div>
  </div>
</ngx-smart-modal>

<ngx-smart-modal #modalAlert identifier="modal-alert-reloj">
  <div class="modal-tittle-bar">
    <i class="far fa-engine-warning modal-tittle-ico"></i>
    ¡Alto ahí!
  </div>

  <div class="modal-cnt">
    ¿Deseas continuar y terminar el registro?
  </div>

  <div class="modal-bottom-cnt">
    <div class="modal-bottom-button bt-ok" (click)="iniciarRegistro()">Continuar</div>
    <div class="modal-bottom-button bt-alrt" (click)="modalAlert.close()">Cancelar</div>
  </div>
</ngx-smart-modal>
<!--/////////////////////////////////////////////////////////////////////////////////-->
<ngx-smart-modal [dismissable]="false" [escapable]="false" #modalSubiendo identifier="modal-subiendo-reloj">
  <div class="modal-tittle-bar">
    <i class="far fa-circle-notch modal-tittle-ico  fa-spin"></i>
    Subiendo
  </div>
  <div class="modal-cnt">
    <app-loadbar [fill]="porcentaje_registro"></app-loadbar>
  </div>

  <!--<div class="modal-bottom-cnt">-->
  <!--<div class="modal-bottom-button bt-isDisabled" (click)="modalAlert.close()">Cancelar</div>-->
  <!--</div>-->

</ngx-smart-modal>
<div class="doc">
  <div class="doc-top">
    <i class="far fa-circle doc-top-ico"></i>
    <div class="doc-top-ttl">Nuevo Reloj</div>
  </div>

  <div class="card_cnt">
    <div class="tts">

      <div class="visualizador">
        <app-visualizer ttl="Frontal" (alSeleccionar)="onFileChanged($event,'frontal')"></app-visualizer>
      </div>

      <div class="sssss">
        <div class="ttt">1. Modelo y caracteristicas de la caja</div>

        <div class="cnt_opts">
          <app-m-select [isDisabled]="false" tittle="Modelo" [items]="estructuras.MODELOS"
                        (whenSelecting)="seleccionarModelo($event)">
          </app-m-select>
          <div class="ln_v"></div>

          <ng-container *ngIf="current_opciones.opciones_caja">
            <!--<div class="options" *ngIf="currentOps.opciones_caja">-->
            <app-m-select
              *ngIf="current_opciones.opciones_caja.diametro_externo"
              tittle="Diámetro Externo"
              [items]="current_opciones.opciones_caja.diametro_externo"
              (whenSelecting)="seleccionarDiametroExterno($event)">
            </app-m-select>

            <app-m-select
              *ngIf="current_opciones.opciones_caja.diametro_interno"
              tittle="Diámetro Interno"
              [items]="current_opciones.opciones_caja.diametro_interno"
              (whenSelecting)="seleccionarDiametroInterno($event)">
            </app-m-select>
          </ng-container>
        </div>
        <div class="ln" *ngIf="msjCajas!=='' || ver_opciones_caja"></div>
        <div class="ttt" *ngIf="msjCajas!=='' || ver_opciones_caja">2. Registro de Base</div>
        <div class="erorCajas" *ngIf="msjCajas!==''">
          <i class="fas fa-frown-open vasbft"></i>
          <div>
            {{msjCajas}}
          </div>
        </div>
        <div class="cnt_opts" *ngIf="ver_opciones_caja">
          <div class="visualizador_caja">
            <img alt="preview caja seleccionada" [src]="photoUrl" *ngIf="photoUrl!==''" class="img_caja"/>
          </div>
          <div>
            <app-m-select tittle="Lote" [items]="current_opciones.lotes"
                          (whenSelecting)="seleccionarLote($event)"></app-m-select>
            <app-m-select tittle="No. Caja" [items]="current_opciones.cases"
                          (whenSelecting)="seleccionarCaja($event)"></app-m-select>
            <app-m-select tittle="Serial Caja" [items]="[{name:current_reloj.serialCaja}]"></app-m-select>
          </div>
        </div>

        <div class="ln" *ngIf="msjCajas!=='' || current_reloj.modelo"></div>
        <div class="ttt" *ngIf="msjCajas!=='' || current_reloj.modelo">3. Colección y caracteristicas de
          personalización
        </div>
        <div *ngIf="msjCajas!=='' || current_reloj.modelo">Estory contemplando la posiblidad de eliminar el campo de
          tipo de material y dejar un solo campo con todas
          las configuracioness en estructura <strong>MATERIAL-COLOR</strong></div>
        <div class="cnt_opts" *ngIf="msjCajas!=='' || current_reloj.modelo">
          <app-m-select tittle="Colección" [items]="current_opciones.colecciones"
                        (whenSelecting)="seleccionarColeccion($event)"></app-m-select>
          <div class="ln_v"></div>

          <ng-container *ngIf="current_opciones.opciones_reloj">

            <app-m-select tittle="Color Maquinaria" *ngIf="current_opciones.opciones_reloj"
                          [items]="this.currentOps.opciones_reloj.COLOR_MAQUINARIA"
                          (whenSelecting)="seleccionarColorMaquinaria($event)"></app-m-select>

            <app-m-select tittle="Pulso:" *ngIf="current_opciones.opciones_reloj"
                          [items]="this.currentOps.opciones_reloj.TIPO_PULSO"
                          (whenSelecting)="seleccionarTipoPulso($event)"></app-m-select>

            <!--<app-m-select tittle="Color Pulso"-->
            <!--*ngIf="currentOps.opciones_reloj && currentOps.opciones_reloj.straps"-->
            <!--[itemConfig]="this.currentOps.opciones_reloj.straps"-->
            <!--(whenSelecting)="seleccionarColorPulso($event)"></app-m-select>-->

          </ng-container>
        </div>
      </div>
    </div>
    <div class="ln"></div>
    <div class="final_btn" *ngIf="current_reloj.tipoPulso" (click)="modalAlert.open()">
      Ingresar Nuevo Reloj
    </div>
  </div>
</div>
