:host {
}

.visuals {
  flex-wrap: wrap;
  width: auto;
  display: flex;
  background: none;
}

.c {
  background: #e03e3e;
}

.b {
  background: rgba(58, 58, 58, 0.91);
}

.bt {
  /*margin: .5em;*/
  /*border: 1px solid black;*/
  border-radius: .2em;
  padding: .5em;
  display: flex;
  width: auto;
  /*height: 5em;*/
  cursor: pointer;
  text-align: center;
  color: #f7f7f7;
  font-weight: bold;
  margin: .2em;

}


.bt:hover {
  background: #3a3a3a;
  color: #f7f7f7;
}

.bt_opts {
  margin-top: .5em;
  display: flex;
}

@media (min-width: 45em) {
  .visuals {
    flex-wrap: nowrap;
    /*background: #e03e3e;*/
  }
}


.all_opts {
  /*flex-grow: 2;*/
  padding: .5em;
  width: 100%;
  display: flex;
  flex-direction: column;
  /*background: #e03e3e;*/
}

.text {
  font-weight: lighter;
}

.selector {
  display: flex;
  width: 4em;
  height: 4em;
  margin-left: 1em;
  border-radius: .2em;
  background: #f7f7f7;
}

.select {
  margin-left: .5em;
  padding: 2em;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.cntador {
  margin: .5em;
  /*font-weight: bolder;*/
}

.optt {
  text-align: center;
  margin-right: .5em;

}

.options_lot {
  background: #3a3a3a;
  display: flex;
  border-radius: .2em;
  color: #e4e4e4;
  padding: .5em;
}

.subt {
  margin: 0;
  padding: 0;
}

.bt-n-ref {
  /*margin: .5em;*/
  background: rgba(58, 58, 58, 0.91);
  /*border: 1px solid black;*/
  border-radius: .2em;
  padding: .5em;
  display: flex;
  width: auto;
  /*height: 5em;*/
  cursor: pointer;
  text-align: center;
  color: #f7f7f7;
  font-weight: bold;
}

.opt_in {
  /*background: #e93c30;*/
}

.ttl_card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  /*background: #e03e3e;*/
  padding-bottom: .5em;
  margin-bottom: .5em;
  border-bottom: 1px solid #3a3a3a;
  font-weight: 800;
}

.bt-n-ref:hover {
  background: #3a3a3a;
  color: #f7f7f7;
}

.sbt {
  font-weight: 500;
}

.pack {
  /*margin: 1em;*/
}

.msg {
  font-weight: lighter;
}

.bb {
  display: flex;
  position: absolute;
  bottom: 0;
  flex-direction: column;
  margin-bottom: .5em;
}

.package_options {
  width: auto;
  /*background: #e93c30;*/
  /*margin-top: .5em;*/
}

.titulin {
  font-weight: 800;
}

._ln {
  width: 100%;
  height: 1px;
  background-color: #3a3a3a;
  margin-top: .5em;
  margin-bottom: .5em;
  opacity: .2;
}

.ln_v {
  display: flex;
  height: auto;
  background: #3a3a3a;
  width: 1px;
  box-sizing: border-box;
  /*margin-left: 1em;*/
  opacity: .1;
  margin-right: 1em;
}

.ttt {
  font-weight: bold;
  margin-bottom: .5em;
  mrgin-top: 1em;
}

.vasbft {
  font-size: 1.1em;
  margin-right: .5em;
}

.erorCajas {
  font-size: .8em;
  font-weight: 700;
  color: #e03e3e;
  background: rgba(224, 62, 62, 0.1);
  padding: .5em;
  border: .3em;
  display: flex;
  align-items: center;
}

.visualizador {
  /*background: #e03e3e;*/
  width: 30em;
  height: 30em;
  min-width: 25em;
  min-height: 25em;
  display: flex;
  /*min-width: 10em;*/
  /*min-height: 10em;*/
  padding: 1em;
  margin-right: 1.5em;
  /*background: #e03e3e;*/
  /*flex-basis: 1;*/
}

.sssss {
  width: auto;
  box-sizing: border-box;
}

.visualizador_caja {
  width: 12em;
  height: 12em;
  border-radius: .4em;
  padding: .5em;
  border: 1px solid rgba(221, 221, 221, 0.3);
  margin-right: 1em;

}

.img_caja {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.fx {
  margin: 1em;
}

.cnt_opts {
  width: auto;
  display: flex;
  box-sizing: border-box;
  margin-top: .5em;
  flex-wrap: wrap;
  /*background: #dddddd;*/
}

.tts {
  display: flex;
}

.selc {
  height: 4em;
  /*background: aquamarine;*/
  /*margin: 1em;*/
  padding: 0;
  margin: .5em;
}

.sl-ttl {
  size: .1em;
  font-weight: bold;
  /*font-size: 1.2em;*/
  margin-bottom: .5em;
}

.selt {
  size: .8em;
  font-weight: lighter;
}

.ss {
  -webkit-appearance: none;
  padding: .5em;
  font-family: 'K2D', sans-serif;
  border: 1px solid #e4e4e4;
  background: #f7f7f7;
  width: 10em;
  border-radius: .2em;

}

modal {
  /* modals are hidden by defaultOp */
  display: none;
}

modal .modal {
  /* modal container fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* z-index must be higher than .modal-background */

  z-index: 1000;
  /* enables scrolling for tall modals */

  overflow: auto;
}

modal .modal .modal-body {
  padding: 20px;
  background: #fff;
  /* margin exposes part of the modal background */

  margin: 40px;
}

modal .modal-background {
  /* modal background fixed across whole screen */

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* semi-transparent black  */

  background-color: #000;
  opacity: 0.75;
  /* z-index must be below .modal and above everything else  */

  z-index: 900;
}

body.modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */

  overflow: hidden;
}
