<ngx-smart-modal #modalResult identifier="modal-result-reloj">
  <div class="modal-tittle-bar">
    <i class="far fa-ballot-check modal-tittle-ico"></i>
    Registro exitoso
  </div>
  <!--<div class="modal-cnt">-->
  <!--<app-reloj-buscado [dataReloj]="currentReloj"></app-reloj-buscado>-->
  <!--</div>-->

  <div class="modal-bottom-cnt">
    <div class="modal-bottom-button bt-ok" (click)="iniciarNuevoRegistro()">Iniciar nuevo registro</div>
  </div>
</ngx-smart-modal>


<ngx-smart-modal #modalAlert identifier="modal-alert-reloj">
  <div class="modal-tittle-bar">
    <i class="far fa-engine-warning modal-tittle-ico"></i>
    ¡Alto ahí!
  </div>

  <div class="modal-cnt">
    ¿Deseas continuar y terminar el registro?
  </div>

  <div class="modal-bottom-cnt">
    <div class="modal-bottom-button bt-ok" (click)="iniciarRegistro()">Continuar</div>
    <div class="modal-bottom-button bt-alrt" (click)="modalAlert.close()">Cancelar</div>
  </div>

</ngx-smart-modal>
<!--/////////////////////////////////////////////////////////////////////////////////-->
<ngx-smart-modal [dismissable]="false" [escapable]="false" #modalSubiendo identifier="modal-subiendo-reloj">
  <div class="modal-tittle-bar">
    <i class="far fa-circle-notch modal-tittle-ico  fa-spin"></i>
    Subiendo
  </div>
  <div class="modal-cnt">
    <app-loadbar [fill]="porcentaje_registro"></app-loadbar>
  </div>

  <!--<div class="modal-bottom-cnt">-->
  <!--<div class="modal-bottom-button bt-disable" (click)="modalAlert.close()">Cancelar</div>-->
  <!--</div>-->

</ngx-smart-modal>
<div class="carta">
  <div class="top_card">
    <div class="top_ttl">Nuevo Reloj</div>
  </div>

  <div class="card_cnt">
    <div class="tts">
      <div class="visualizador">
        <app-visualizer ttl="Frontal" (alSeleccionar)="onFileChanged($event,'frontal')"></app-visualizer>
      </div>

      <div class="sssss">
        <div class="ttt">1. Modelo y caracteristicas de la caja</div>

        <div class="cnt_opts">
          <app-m-select [disable]="false" ttl="Modelo" [opciones]="cajaEst.MODELOS"
                        (alSeleccionar)="seleccionarModelo($event)">
          </app-m-select>
          <div class="ln_v"></div>

          <ng-container *ngIf="current_opciones.opciones_caja">
            <!--<div class="options" *ngIf="current_opciones.opciones_caja">-->
            <app-m-select
              *ngIf="current_opciones.opciones_caja.diametro_externo"
              ttl="Diámetro Externo"
              [opciones]="current_opciones.opciones_caja.diametro_externo"
              (alSeleccionar)="seleccionarDiametroExterno($event)">
            </app-m-select>

            <app-m-select
              *ngIf="current_opciones.opciones_caja.diametro_interno"
              ttl="Diámetro Interno"
              [opciones]="current_opciones.opciones_caja.diametro_interno"
              (alSeleccionar)="seleccionarDiametroInterno($event)">
            </app-m-select>
          </ng-container>
        </div>
        <div class="ln" *ngIf="ver_opciones_caja"></div>
        <div class="ttt" *ngIf="ver_opciones_caja">2. Registro de Base</div>
        <div class="cnt_opts" *ngIf="ver_opciones_caja">
          <div class="visualizador_caja">
            <img alt="preview caja seleccionada" [src]="photoUrl" *ngIf="photoUrl!==''" class="img_caja"/>
          </div>
          <div>
            <app-m-select ttl="Lote" [opciones]="current_opciones.lotes"
                          (alSeleccionar)="seleccionarLote($event)"></app-m-select>
            <app-m-select ttl="No. Caja" [opciones]="current_opciones.cajas"
                          (alSeleccionar)="seleccionarCaja($event)"></app-m-select>
            <app-m-select ttl="Serial Caja" [opciones]="[{name:current_reloj.serialCaja}]"
                          (alSeleccionar)="seleccionarCaja($event)"></app-m-select>
          </div>
        </div>

        <div class="ln" *ngIf="current_reloj.modelo"></div>
        <div class="ttt" *ngIf="current_reloj.modelo">3. Colección y caracteristicas de personalización</div>
        <div class="cnt_opts" *ngIf="current_reloj.modelo">
          <app-m-select ttl="Colección" [opciones]="current_opciones.colecciones"
                        (alSeleccionar)="seleccionarColeccion($event)"></app-m-select>
          <div class="ln_v"></div>

          <ng-container *ngIf="current_opciones.opciones_reloj">

            <app-m-select ttl="Color Maquinaria" *ngIf="current_opciones.opciones_reloj"
                          [opciones]="this.current_opciones.opciones_reloj.COLOR_MAQUINARIA"
                          (alSeleccionar)="seleccionarColorMaquinaria($event)"></app-m-select>
            <app-m-select ttl="Pulso tipo:" *ngIf="current_opciones.opciones_reloj"
                          [opciones]="this.current_opciones.opciones_reloj.TIPO_PULSO"
                          (alSeleccionar)="seleccionarTipoPulso($event)"></app-m-select>

            <app-m-select ttl="Color Pulso"
                          *ngIf="current_opciones.opciones_reloj && current_opciones.opciones_reloj.pulsos"
                          [opciones]="this.current_opciones.opciones_reloj.pulsos"
                          (alSeleccionar)="seleccionarColorPulso($event)"></app-m-select>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="ln"></div>

    <div class="final_btn" *ngIf="current_reloj.colorPulso" (click)="modalAlert.open()">
      Ingresar Nuevo Reloj
    </div>

  </div>
</div>
