
:host {
  width: 100%;
  //background-image: radial-gradient( circle farthest-corner at 24.1% 68.8%,  rgba(50,50,50,1) 0%, rgba(0,0,0,1) 99.4% );
  background: white;
  display: flex;
  /*z-index: 1000;*/

}

.ico_op {
  width: 1.5em;
  margin: .8em 1em .8em 1.5em; /*background: #e03e3e;*/
  font-size: 1.6em;
}

.opt_txt {
  /*opacity: .5;*/
  //color: #616161;
}


.nav_main_bar {
  display: flex;
  padding-bottom: .5em;
  padding-top: .5em;
}


.menu {
  width: 4em;
  height: 100%;
  /*background-color: coral;*/
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-img {
  width: 1.5em;
}

.sidebar-closed {
  display: none;
}

//.main_menu {
//  /*position: absolute;*/
//  width: 100%;
//  /*height: calc(100% - 4em);*/
//  display: flex;
//  flex-direction: column;
//  position: fixed;
//  overflow: hidden;
//}

.main_menu {
  width: var(--sidebar-width);
  flex-direction: column;
  height: 100vh;
  //position: fixed;
  overflow-y: hidden;
  //background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  //  -webkit-box-shadow: 0px 0px 95px -2px rgba(0, 0, 0, 0.04);
  //  -moz-box-shadow: 0px 0px 95px -2px rgba(0, 0, 0, 0.04);
  //  box-shadow: 0px 0px 95px -2px rgba(0, 0, 0, 0.04);
}

@media (min-width: 40em) {


  .sidebar-opened {
  }

  .sidebar-closed {
    transform: translate(calc(var(--sidebar-width) * -1 - 2px), 0);
  }

  .svg_logo {
    height: 2em;
    /*background: white;*/
  }

  .nav_main_bar {
    width: 20em;
    display: none;
  }


  .obb {
    margin: .8em 1.5em .8em 1.5em; /*background: #e03e3e;*/
    font-size: .5em;
    color: var(--text-main-color);
  }

  .nombre {
    font-weight: 600;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.8);
  }

  .cargo {
    font-size: .9em;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
  }

  .ico {
    width: 2.2em;
    height: 2.2em;
    margin: .5em;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #3a3a3a;
  }

  .user_nv {
    /*margin-left: .5em;*/
  }

  .user_data_nv {
    margin: .5em;
    font-size: 2.5em;
  }

  .ssss {
    align-items: center;
    /*justify-content: center;*/
    display: flex;
    /*flex-direction: column;*/
    /*margin: 1.5em;*/
    padding: 1em;
    position: absolute;
    bottom: 0;
    color: var(--text-main-color);
    /*background: white;*/
    width: 100%;
    box-sizing: border-box;
  }

  .options_mn {
    /*margin: 1em;*/
    box-sizing: border-box;
  }


  .o {
    /*transition: all .2s ease-in-out;*/

    background: rgba(0, 0, 0, 0.1);
  }

  .c {
    /*transition: all .2s ease-in-out;*/

  }

  .sbt {
    opacity: .8;
    font-weight: 400;
    text-align: center;
  }


  .item {
    height: 4em;
    display: flex;
    padding-left: 2em;
    align-items: center;
    cursor: pointer;
    font-size: .85em;
    transition: all .2s ease-in-out;
    border-right: 4px solid rgba(0, 0, 0, 0);
    //color: #616161;
    //color: rgba(255, 255, 255, 0.2);
    color: rgba(0, 0, 0, 0.3);

    &:hover {
      color: rgba(0, 0, 0, 0.4);

    }

    &:hover .opt_txt {
      opacity: 1;
    }

    &:focus {
      outline: none;
    }

    &.acti {
      /*background: rgba(0, 0, 0, 0.1);*/
      transition: all .5s ease-in-out;
      border-right: 4px solid var(--icon-color-hover);
      //background-image: linear-gradient(to right, rgba(0, 0, 0, 0.00), rgba(255, 146, 11, 0.01));
    }

    &.acti .opt_txt {
      /*font-weight: bold;*/
      opacity: 1;
      background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &.acti .ico_op {
      color: var(--icon-color-selected);
      opacity: 1;
      background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }


  }


  .sub {
    padding-left: 3em;
    font-weight: 600;
    font-size: .7em;
    color: #737373;
    /*opacity: .1;*/
    height: 3em;
    display: flex;
    align-items: center;
  }

  .menu {
    display: none;
  }

  .mn {
    height: var(--topbar-height);
    border-bottom: 1px solid rgba(255, 255, 255, 0.11);
    align-items: center;
    justify-content: center;
    display: flex;
    /*margin: 1em;*/
    box-sizing: border-box;
    margin-bottom: 1em;
    position: fixed;
    width: var(--sidebar-width);
  }

  .mg_space {
    width: var(--sidebar-width);
    height: var(--topbar-height);
    display: flex;
  }

  .pinche_line {
    background: rgba(255, 255, 255, 0.1);
    height: 1px;
    margin-right: 1em;
    margin-left: 1em;
  }

  .sidebar-scrollable-area {
    /*background: #dddddd;*/
    padding-top: 1em;
    height: calc(100% - var(--topbar-height));
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }

  .main_name {
    width: 12em;
  }

  .lg-cnt {
    margin-top: 3em;
    width: 100%;
    align-items: center;
    /*color: white;*/
    /*align-content: center;*/
    justify-content: center;
    height: 10em;
    display: flex;
    flex-direction: column;
    opacity: .8;
    /*padding: 4em;*/
  }

  .msp {
    display: none;
  }

  :host {
    width: 20em;
  }
}

/*.mn {*/
/*height: 2em;*/
/*width: auto;*/
/*display: flex;*/
/*padding: 1em;*/
/*box-sizing: border-box;*/
/*}*/




