//
:host {
  display: flex;
}

.main_menu {
  position: fixed;
  width: var(--sidebar-width);
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
  background: #292929;
  -webkit-box-shadow: 0px 0px 95px -2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 95px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 95px -2px rgba(0, 0, 0, 0.1);
}

.ico_op {
  width: 1.2em;
  margin: .8em 1em .8em 1.5em; /*background: #e03e3e;*/
  font-size: 1.6em;
}

.item {
  height: 3.5em;
  display: flex;
  padding-left: 1em;
  align-items: center;
  cursor: pointer;
  font-size: .7em;
  border-right: 4px solid rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.1);
  transition: all .2s;

  &:hover {
    transition: all .4s;
    color: rgba(255, 255, 255, 0.2);
  }

  &:hover .opt_txt {
    transition: all .4s;
    opacity: 1;
  }

  &:focus {
    transition: all .4s;
    outline: none;
  }

  &.acti {

    border-right: 3px solid var(--icon-color-hover);
    background: rgb(240, 152, 25);
    background: linear-gradient(270deg, rgba(240, 152, 25, 0.12088585434173671) 0%, rgba(255, 255, 255, 0) 49%, rgba(255, 255, 255, 0) 100%);
    transition: all .4s;
  }

  &.acti .opt_txt {
    opacity: 1;
    color: #f09819;
    transition: all .4s;
  }

  &.acti .ico_op {
    transition: all .4s;
    color: var(--icon-color-selected);
    opacity: 1;
  }
}

.sub {
  padding-left: 3em;
  font-weight: 600;
  font-size: .7em;
  color: rgba(115, 115, 115, 0.5);
  height: 3em;
  display: flex;
  align-items: center;
}

.sidebar-scrollable-area {
  padding-top: 1em;
  height: calc(100% - var(--topbar-height));
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.main_name {
  width: 12em;
}

.lg-cnt {
  margin-top: 3em;
  width: 100%;
  align-items: center;
  color: white;
  justify-content: center;
  height: 10em;
  display: flex;
  flex-direction: column;
  opacity: .8;
}
