<!--[ngClass]="tools.isMenuOpened ? 'sidebar-opened' : 'sidebar-closed'"-->
<div class="main_menu sidebar-opened">
  <div class="lg-cnt">
    <img class="main_name" src="assets/common/logo_w.svg" alt="Moena 1989"/>
    <!--<div>DASHBOARD</div>-->
  </div>
  <div class="sidebar-scrollable-area">
    <!--<div class="sub">General</div>-->
    <!--<div class="item" routerLink="/home" [routerLinkActive]="'acti'">-->
      <!--<i class="fal fa-home fa-fw ico_op "></i>-->
      <!--<div class="opt_txt">Inicio</div>-->
    <!--</div>-->
    <div class="sub">Producción</div>
    <!--<div class="item" routerLink="/providers" [routerLinkActive]="'acti'">-->
      <!--<i class="fal fa-hand-holding-box fa-fw ico_op "></i>-->
      <!--<div class="opt_txt">Proveedores</div>-->
    <!--</div>-->

    <div class="item" routerLink="/equipo" [routerLinkActive]="'acti'">
      <i class="fal fa-users fa-fw ico_op"></i>
      <div class="opt_txt">Equipo de trabajo</div>
    </div>

    <div class="sub">Registro</div>

    <div class="item" routerLink="/lots" [routerLinkActive]="'acti'">
      <i class="fal fa-boxes-alt er fa-fw ico_op "></i>
      <div class="opt_txt">Lotes</div>
    </div>

    <div class="item" routerLink="/units" [routerLinkActive]="'acti'">
      <i class="fal fa-box-alt fa-fw ico_op "></i>
      <div class="opt_txt">Unidades</div>
    </div>

    <div class="sub">Mercadeo</div>
    <!--<div class="item" routerLink="/web/temporadas/relojes" [routerLinkActive]="'acti'">-->
    <!--<i class="fal fa-chart-network fa-fw ico_op "></i>-->
    <!--<div class="opt_txt">Temporadas</div>-->
    <!--</div>-->

    <div class="item" routerLink="/ajustes-web" [routerLinkActive]="'acti'">
      <i class="fal fa-sliders-v fa-fw ico_op"></i>
      <div class="opt_txt">Ajustes Web</div>
    </div>
    <div class="sub">Interno</div>

    <div class="item" routerLink="/structures" [routerLinkActive]="'acti'">
      <i class="fal fa-puzzle-piece fa-fw ico_op"></i>
      <div class="opt_txt">Estructuras</div>
    </div>

    <div class="item" routerLink="/watchers" [routerLinkActive]="'acti'">
      <i class="fal fa-low-vision fa-fw ico_op"></i>
      <div class="opt_txt">Puertas de acceso</div>
    </div>
  </div>
</div>
