body.dialog-open {
  overflow: hidden;
}

.nsm-dialog-btn-close {
  border: 0;
  background: none;
  color: #e03e3e;
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 1.2em;
  cursor: pointer;
  visibility: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  transition: background-color 500ms;
  background-color: transparent;
  z-index: 100;
}

.overlay.nsm-overlay-open {
  background-color: rgba(0, 0, 0, 0.8);
}

.overlay.transparent {
  background-color: transparent;
}

.nsm-dialog {
  min-height: 10em;
  width: 100%;
  max-width: 30em;
  box-sizing: border-box;
}

.nsm-dialog.nsm-dialog-close {
  opacity: 0;
}

.nsm-dialog.nsm-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - (1.75rem * 2));
}

.modal-bottom-button {
  /*flex-grow: 1;*/
  display: flex;
  text-align: center;

  box-sizing: border-box;
  border-radius: .3em;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: .8em;
  font-weight: 600;
  padding: .7em 1.2em .7em 1.2em;
  margin-left: 1em;
}

.bt-ok {
  /*border: 1px #e03e3e solid;*/
  background: var(--icon-color-selected);
  color: white;
  border: 1px var(--icon-color-selected) solid;
}

.bt-alrt {
  border: 1px #e03e3e solid;
  color: #e03e3e;
}

.bt-disable {
  background: #b5b5b5;
  border: 1px solid #8d8d8d;
  color: #bfbfbf;
}


.modal-bottom-cnt {
  display: flex;
  /*height: 3em;*/
  width: 100%;
  padding: 0em 2em 2em 2em;
  /*background: #dddddd;*/
  justify-content: flex-end;
  box-sizing: border-box;
}

.nsm-content {
  position: relative;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  background-color: #fff;
  border-radius: .2em;
  box-sizing: border-box;
  margin: 1em;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
  outline: 0;
  /*padding: 1em;*/
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -70%);

}

.modal-tittle-bar {
  padding: 2em 2em 1em 2em;
  display: flex;
  font-weight: 800;
  align-items: center;
  font-size: 1.1em;
  color: var(--icon-color-selected);
}

.nsm-body {
  position: relative;
  flex: 1 1 auto;
}

.modal-cnt {
  padding: 0em 2em 1em 2em;
}

.modal-tittle-ico {
  margin-right: 16px;
  font-size: 1.4em;
}

.load-bar {
  width: 100%;
  height: .5em;
  background: #dddddd;
  border-radius: .3em;
  margin-bottom: 1em;
}

/* *************************
* Animations
* *************************/
.nsm-dialog[class*=nsm-dialog-animation-] {
  transition: transform 500ms ease-in-out, opacity 500ms;
}

.nsm-dialog-animation-ltr {
  transform: translate3d(-50%, 0, 0);
}

.nsm-dialog-animation-ltr.nsm-dialog-open {
  transform: translate3d(0, 0, 0);
}

.nsm-dialog-animation-ltr.nsm-dialog-close {
  transform: translate3d(-50%, 0, 0);
}

.nsm-dialog-animation-rtl {
  transform: translate3d(50%, 0, 0);
}

.nsm-dialog-animation-rtl.nsm-dialog-open {
  transform: translate3d(0, 0, 0);
}

.nsm-dialog-animation-rtl.nsm-dialog-close {
  transform: translate3d(50%, 0, 0);
}

.nsm-dialog-animation-ttb {
  transform: translate3d(0, -50%, 0);
}

.nsm-dialog-animation-ttb.nsm-dialog-open {
  transform: translate3d(0, 0, 0);
}

.nsm-dialog-animation-ttb.nsm-dialog-close {
  transform: translate3d(0, -50%, 0);
}

.nsm-dialog-animation-btt {
  transform: translate3d(0, 50%, 0);
}

.nsm-dialog-animation-btt.nsm-dialog-open {
  transform: translate3d(0, 0, 0);
}

.nsm-dialog-animation-btt.nsm-dialog-close {
  transform: translate3d(0, 50%, 0);
}
