:host {
  width: 100%;
  display: flex;
  padding: 1.5em;
  flex-direction: column;
  box-sizing: border-box;
}

.cnt {
  //marem;
  padding: 1em;
}

.logo {
  //opacity: .1;
  //width: 50em;
  //margin-top: 20em;
}
