.main-cnt-main {
  padding-left: var(--sidebar-width);
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  background: white;
  flex-direction: column;
}

:host {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  background: white;
}

@media (min-width: 40em) {
  .is-opened {
    margin-left: var(--sidebar-width);
  }


  .aslvn {
    padding-top: 4em;
  }

  .menu_ic {
    display: flex;
    align-items: center;
  }


  .ico_op {
    margin-right: 1em;
    margin-left: .5em;
    cursor: pointer;
  }


  .sub_opt {
    opacity: .5;
    font-weight: 400;
    margin-left: 1em;
    cursor: pointer;
  }

  .sub_opt:hover {
    opacity: .8;
  }
}
