<app-sidebar></app-sidebar>
<!--[ngClass]="tools.isMenuOpened ? 'is-opened' : 'is-closed'"-->
<!--[@fadeAnimation]="o.isActivated"-->
<div class="main-cnt-main">
  <app-top-bar></app-top-bar>
  <div class="doc">
    <app-tabs>
      <ng-container>
        <div *ngFor="let tab of tools.availableTabs" class="tab-item-content" [routerLink]="'/'+tab.path"
             routerLinkActive="tab-opt-act">{{tab.name}}</div>
      </ng-container>
    </app-tabs>
    <div class="router-cnt">
      <router-outlet #o="outlet"></router-outlet>
    </div>
  </div>
</div>
