:root {
  --sidebar-width: 14em;
  --topbar-height: 5em;
  --body-background: #ffffff;
  --background-sidebar: #292929;
  //--background-sidebar: url('http://api.thumbr.it/whitenoise-361x370.png?background=242939ff&noise=626262&density=14&opacity=16');
  --background-topbar: none;
  --text-main-color: white;
  --icon-color-hover: rgba(251, 176, 5, 0.8);
  --icon-color-selected: #FBB005;
  --windows-border-color: #2C2E3E;
}


selection {
  background: var(--background-sidebar); /* WebKit/Blink Browsers */
}

.sdvd {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
}

::-moz-selection {
  background: #ffb7b7;
}

.carta {
  border-radius: .3em;
  //background: white;
  -webkit-box-shadow: 0px 0px 45px -2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 45px -2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 45px -2px rgba(0, 0, 0, 0.05);
  border: 1px solid #e2e2e2;
  margin: 2em;
  box-sizing: border-box;
}

.top_ttl {
  font-weight: 700;
  font-size: 1.1em;
  opacity: .9;
}

.final_btn {
  border-radius: .3em;
  padding: 1em;
  margin-top: 1em;
  color: #ffffff;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  background: var(--icon-color-selected);
  border: 1px solid #ffffff;
  opacity: .8;
}

.final_btn:hover {
  opacity: 1;
}

.top_card {
  padding: 2em;
  box-sizing: border-box;
  width: 100%;
  height: 4em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  //background: #2C2E3E;
  display: flex;
  align-items: center;
}

.card_cnt {
  padding: 2em;
  width: 100%;
  box-sizing: border-box;
}


//relacionado con las cartas
