:root {
  --sidebar-width: 20em;
  --topbar-height: 5em;
  --body-background: #ffffff;
  --background-sidebar: #cdcdcd;
  //--background-sidebar: url('http://api.thumbr.it/whitenoise-361x370.png?background=242939ff&noise=626262&density=14&opacity=16');
  --background-topbar: none;
  --text-main-color: #2d2d2d;
  --icon-color-hover: rgb(255, 146, 11);
  --icon-color-selected: rgb(255, 146, 11);
  --windows-border-color: #2C2E3E;
  //colors buttonss
}

//
//selection {
//  background: var(--background-sidebar); /* WebKit/Blink Browsers */
//}

.tab-io {
  margin-right: .5em;
}


.tab-ido {
  margin-right: 1em;
  font-size: .5em;
  color: #dddddd;
  //background: #ff253a;
  &.dot-active {
    color: #71ff60;
  }
}

.item-opt-cnt {
  display: flex;
}

.item-ttl {
  font-size: 1.4em;
  font-weight: 600;
}

.item-top-ttl {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 4em;
  align-items: center;
  margin-bottom: 1em;
}

.tab-opt {
  margin-right: 1.5em;
  padding: 1em 0em 1em 0em;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
  //font-weight: bold;
  opacity: .5;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition: all .5s;
  display: flex;
  align-items: center;

  &:hover {
    transition: all .5s;
    opacity: 1;
  }
}

.tab-opt-new {
  margin-right: 1.5em;
  padding: 1em 0em 1em 0em;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
  //font-weight: bold;
  opacity: .5;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition: all .2s;
  display: flex;
  align-items: center;
  font-size: .8em;

  &:hover {
    opacity: 1;
  }
}

.tab-opt-act {
  opacity: .9;
  border-bottom: 3px solid var(--icon-color-hover);
  color: var(--icon-color-hover);
}


.sdvd {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
}

::-moz-selection {
  background: #ffb7b7;
}

.doc {
  border-radius: .3em;
  width: 100%;
  display: flex;
  //height: 100%;
  flex-direction: column;
  //background: white;
  //border: 1px solid #e2e2e2;
  padding: 1em 2em 0 2em;
  box-sizing: border-box;
  overflow: hidden;
}


.final_btn {
  border-radius: .3em;
  padding: 1em;
  margin-top: 1em;
  color: #ffffff;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  background: var(--icon-color-selected);
  border: 1px solid #ffffff;
  opacity: .8;
}

.final_btn:hover {
  opacity: 1;
}

.doc-top {
  display: flex;
  align-items: center;
  font-size: 1.8em;
  //font-weight: 600;
  margin-bottom: 1em;
  //background: #ff253a;
}

.doc-pg {
  margin-top: 1.5em;
  margin-bottom: 1em;
  opacity: .8;
}

.doc-top-ico {
  margin-right: .5em;
  background-image: linear-gradient(-60deg, #ff5858 -5%, #f09819 105%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  //opacity: .6;
}

.doc-top-ttl {
  font-weight: 600;
  color: #2C2E3E;
}

.card_cnt {
  padding: 2em;
  width: 100%;
  box-sizing: border-box;
}

.asdwq {
  display: flex;
  flex-direction: row;
}

:host {
  height: 80vh;
  display: flex;
  width: 100%;
  //background: blue;
}

.side {
  width: 15em;
  height: 100%;
  background: #fdfdfd;
  overflow-y: auto;
  //padding: .5em;
  border-right: 1px solid #cdcdcd;
}

.side-ttl {
  font-weight: bold;
}

.md-cnt {
  display: flex;
  padding: 1em;
  box-sizing: border-box;
}

.side-opt {
  width: 100%;
  font-size: .9em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  box-sizing: border-box;
  cursor: pointer;
  opacity: .6;
  display: flex;
  align-items: center;
  transition: .4s all;

  &:hover {
    background: rgba(0, 0, 0, 0.04);
  }

  &.side-act {
    opacity: 1;
    color: var(--icon-color-selected);
    border-right: 3px solid var(--icon-color-hover);
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.04), white);
  }

}


//relacionado con las cartas
