:root {
  --sidebar-width: 15em;
  --topbar-height: 5em;
  --body-background: #ffffff;
  --background-sidebar: #cdcdcd;
  //--background-sidebar: url('http://api.thumbr.it/whitenoise-361x370.png?background=242939ff&noise=626262&density=14&opacity=16');
  --background-topbar: none;
  --text-main-color: #2d2d2d;
  --icon-color-hover: rgb(255, 146, 11);
  --icon-color-selected: rgb(255, 146, 11);
  --windows-border-color: #2C2E3E;
  //colors buttonss
}

//
//selection {
//  background: var(--background-sidebar); /* WebKit/Blink Browsers */
//}

.tab-io {
  margin-right: .5em;
}


.tab-ido {
  margin-right: 1em;
  font-size: .5em;
  color: #dddddd;
  //background: #ff253a;
  &.dot-active {
    color: #71ff60;
  }
}

.item-opt-cnt {
  display: flex;
  width: available;
  height: available;

}

.item-ttl {
  font-size: 1.4em;
  font-weight: 600;
  display: flex;
}

.ttlss {
  color: #2C2E3E;
  padding-top: 1em;
  padding-bottom: 1em;
}

.asdbt {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  border: 1px solid #f0f0f0;
  border-radius: .2em;
  width: 10em;
  padding: 1em;
  align-items: center;
  flex-direction: column;
  background: #fefefe;
  margin-left: .5em;
  justify-content: center;
  opacity: .5;
  cursor: pointer;
  text-align: center;

  &:hover {
    transition: all .5s;
    opacity: .8;
  }
}

.item-top-ttl {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.s-wsc-cnt {
  height: 40vh;
  width: 100%;
  display: flex;
}

.as {
  margin-right: .5em;
  cursor: pointer;
}

.artg {
  margin: .5em;
  cursor: pointer;
  font-size: 1.1em;
}

.maq-ttl {
  font-size: 1.2em;
  font-weight: bold;
  margin: .5em;
}

.part-msg-no-item {
  //background: #ff253a;
  align-items: center;
  justify-content: center;
  display: flex;
  opacity: .5;
}

.visualizador {
  width: 20em;
  height: 35em;
  border-radius: .2em;
  margin-right: 2em;
  border: 1px solid rgb(243, 243, 243);
  position: relative;
  //background: rgba(44, 46, 62, 0.07);
}

.opt-t {
  display: flex;
  font-size: .7em;
  font-weight: normal;
  align-items: center;
  opacity: .5;
  cursor: pointer;
  margin-left: 1em;
  margin-right: .5em;

  &:hover {
    opacity: .8;
    color: var(--icon-color-hover);
  }
}

.cnt-inputs {
  display: flex;
  margin-bottom: 1em;
  flex-wrap: wrap;
}

.tab-dv {
  height: available;
  display: flex;
  width: 1px;
  background: rgba(44, 46, 62, 0.21);
  margin-right: 1.5em;
  margin-top: .8em;
  margin-bottom: .8em;
  box-sizing: border-box;
}

.cono {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  background: rgba(255, 255, 255, 0.8);
  transition: all 1s;
  align-items: center;
  justify-content: center;
}

///////////////////////////////////////////////////
.spinner {
  width: 150px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: var(--icon-color-hover);
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  margin: .5em;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0)
  }
  40% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

//////////////////////////////////////////////
.tab-item-content {
  margin-right: 1.5em;
  padding: .5em 0em .5em 0em;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
  //font-weight: bold;
  opacity: .7;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  transition: all .5s;
  display: flex;
  align-items: center;
  font-size: .9em;

  &:hover {
    transition: all .5s;
    opacity: 1;
  }
}

.plus-opts-cnt {
  display: flex;
  margin-bottom: 1em;
}

.plus-opts-item {
  margin-right: 1em;
}

.plus-opts-divider {
  //background: #71ff60;
  display: flex;
  height: 4em;
  width: 1px;
  margin-right: 1em;
  background: #dddddd;
}

.i-v {
  display: flex;
  flex-wrap: wrap;
}

.mk-im-m {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  padding-top: 2.2em;
  height: 22em;
  transform: scale(2.5);
}

.bqe {
  border-radius: .2em;
  border: 1px solid rgba(141, 141, 141, 0.22);
  margin-right: 1em;
}

.cf-min {
  width: 5em;
  height: 5em;
  padding: .5em;
  position: relative;
  overflow: hidden;
  display: flex;
  margin: .5em;
}

.tab-opt-new {
  margin-right: 1.5em;
  padding: 1em 0em 1em 0em;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
  //font-weight: bold;
  opacity: .5;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  transition: all .2s;
  display: flex;
  align-items: center;
  font-size: .8em;

  &:hover {
    opacity: 1;
    //color: ;
  }
}



.vsi-item {
  margin-right: 1.5em;
  padding: .5em 0em .5em 0em;
  cursor: pointer;
  opacity: .5;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  transition: all .5s;
  display: flex;
  align-items: center;
  font-size: .9em;

  &:hover {
    transition: all .5s;
    opacity: .8;
  }
}
.vsi-item-act {
  opacity: 1;
  color: var(--icon-color-hover);
}

.tab-opt-act {
  opacity: .9;
  border-bottom: 3px solid var(--icon-color-hover);
  color: var(--icon-color-hover);
}


.sdvd {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
}

::-moz-selection {
  //background: #ff1456;
}

.doc {
  border-radius: .3em;
  width: 100%;
  display: flex;
  //height: 100%;
  flex-direction: column;
  //background: white;
  //border: 1px solid #e2e2e2;
  padding: 1em 2em 0 2em;
  box-sizing: border-box;
  overflow: hidden;
}


.final_btn {
  border-radius: .3em;
  padding: 1em;
  margin-top: 1em;
  color: #ffffff;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  background: var(--icon-color-selected);
  border: 1px solid #ffffff;
  opacity: .8;
}

.final_btn:hover {
  opacity: 1;
}


.cnttnt {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.c-v {
  width: 100%;
  padding-left: 1em;
}

.doc-top {
  display: flex;
  align-items: center;
  font-size: 1.8em;
  height: 2em;
  margin-bottom: .5em;
  justify-content: space-between;
  //font-weight: 600;
  //background: #ff253a;
}

.d-l-s {
  display: flex;
  align-items: center;
}

.d-r-s {
  align-items: center;
  display: flex;
}

.doc-pg {
  margin-top: 1.5em;
  margin-bottom: 1em;
  opacity: .8;
}

.doc-top-ico {
  margin-right: .5em;
  color: #f09819;
  width: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  //opacity: .6;
}

.part-txt {
  font-size: .8em;
}

.clickss {
  opacity: .2;
  cursor: pointer;

  &:hover {
    opacity: .8;
    color: var(--icon-color-hover);
  }
}

.tt {
  font-weight: bold;
  margin-bottom: 1em;
  opacity: .7;
  margin-left: 1em;
  font-size: .9em;
  //background: #71ff60;
}

.maq-ttl {
  margin: .5em;
}

.part-ttl {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--icon-color-hover);
}

.part-sub-ttl {
  display: flex;
  align-items: center;
  margin-left: 1em;
}

.part-sub-tttl {
  display: flex;
  align-items: center;
  margin-bottom: .5em;
}

.lil-sub {
  font-size: .7em;
}

.icoss_op {
  font-size: 1.2em;
  margin-right: 1em;
}

.l-s {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: auto;
}


.doc-top-ttl {
  font-weight: 600;
  color: #2C2E3E;
}

.card_cnt {
  padding: 2em;
  width: 100%;
  box-sizing: border-box;
}

.asdwq {
  display: flex;
  flex-direction: row;
}

:host {
  height: 80vh;
  display: flex;
  width: 100%;
  //background: blue;
}

.side {
  width: 15em;
  height: 100%;
  background: #fdfdfd;
  overflow-y: auto;
  //padding: .5em;
  border-right: 1px solid #cdcdcd;
}

.paragraph {
  margin-bottom: 1em;
  opacity: .8;
}

.side-ttl {
  font-weight: bold;
}

.aefq {
  flex-wrap: nowrap;
}

.md-cnt {
  width: 100%;
  display: flex;
  padding: 1em 2em 0em 2em;
  //background: #71ff60;
  box-sizing: border-box;
  //flex-direction: column;
  //background: #71ff60;
}

.div-it {
  width: 1px;
  height: 2em;
  display: flex;
  margin-left: 2em;
  margin-right: 1em;
  background: rgba(44, 46, 62, 0.25);
}

.tab-dv {
  width: 1px;
  height: 100%;
  display: flex;
  margin: 1em;
  background: #2C2E3E;
}

.side-opt {
  width: 100%;
  font-size: .9em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  box-sizing: border-box;
  cursor: pointer;
  opacity: .6;
  display: flex;
  align-items: center;
  transition: .4s all;

  &:hover {
    background: rgba(0, 0, 0, 0.04);
  }

  &.side-act {
    opacity: 1;
    color: var(--icon-color-selected);
    border-right: 3px solid var(--icon-color-hover);
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.0));
  }

}


//relacionado con las cartas
