
:host {
  width: 100%;
  background: #2C2F3E;
  display: flex;
  z-index: 1000;

}

.acti {
  background: rgba(0, 0, 0, 0.1);
}

.opt_txt {
  opacity: .5;
}

.acti .opt_txt {
  /*font-weight: bold;*/
  opacity: 1;
  color: var(--icon-color-selected);

}

.acti .ico_op {
  color: var(--icon-color-selected);
  opacity: .8;

}

.nav_main_bar {
  /*align-items: center;*/
  z-index: 5;
  /*justify-content: left;*/
  display: flex;
  /*width: auto;*/
  /*height: 3em;*/
  padding-bottom: .5em;
  padding-top: .5em;
}

.menu {
  width: 4em;
  height: 100%;
  /*background-color: coral;*/
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-img {
  width: 1.5em;
}

.sidebar-closed {
  display: none;
}

.main_menu {
  /*position: absolute;*/
  width: 100%;
  /*height: calc(100% - 4em);*/
  display: flex;
  flex-direction: column;
  position: fixed;
  overflow: hidden;
}

/*select {*/
/*margin: 50px;*/
/*width: 150px;*/
/*padding: 5px 35px 5px 5px;*/
/*font-size: 16px;*/
/*border: 1px solid #ccc;*/
/*height: 34px;*/
/*-webkit-appearance: none;*/
/*-moz-appearance: none;*/
/*background: url(http://www.stackoverflow.com/favicon.ico) 96% / 15% no-repeat #eee;*/
/*}*/

@media (min-width: 40em) {
  .main_menu {
    width: var(--sidebar-width);
    flex-direction: column;
    height: calc(100%);
    position: fixed;
    z-index: 200;
    overflow-y: hidden;
    background-color: var(--background-sidebar);
    -webkit-box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.75);
  }

  .sidebar-opened {
  }

  .sidebar-closed {
    transform: translate(calc(var(--sidebar-width) * -1 - 2px), 0);
  }

  .svg_logo {
    height: 2em;
    /*background: white;*/
  }

  .nav_main_bar {
    width: 20em;
    display: none;
  }

  .ico_op {
    /*width: 1.5em;*/
    margin: .8em 1em .8em 1.5em; /*background: #e03e3e;*/
    font-size: 1.2em;

    color: rgba(255, 255, 255, 0.2);
  }

  .obb {
    margin: .8em 1.5em .8em 1.5em; /*background: #e03e3e;*/
    font-size: .5em;
    color: var(--text-main-color);
  }

  .nombre {
    font-weight: 600;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.8);
  }

  .cargo {
    font-size: .9em;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
  }

  .ico {
    width: 2.2em;
    height: 2.2em;
    margin: .5em;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #3a3a3a;
  }

  .user_nv {
    /*margin-left: .5em;*/
  }

  .user_data_nv {
    margin: .5em;
    font-size: 2.5em;
  }

  .ssss {
    align-items: center;
    /*justify-content: center;*/
    display: flex;
    /*flex-direction: column;*/
    /*margin: 1.5em;*/
    padding: 1em;
    position: absolute;
    bottom: 0;
    color: var(--text-main-color);
    /*background: white;*/
    width: 100%;
    box-sizing: border-box;
  }

  .options_mn {
    /*background: #e4e4e4;*/
    /*margin: 1em;*/
    box-sizing: border-box;
  }

  .item {
    height: 3em;
    display: flex;
    padding-left: .5em;
    align-items: center;
    cursor: pointer;
    color: #cccccc;
    font-size: .85em;
  }

  .o {
    background: rgba(0, 0, 0, 0.1);
  }

  .c {

  }

  .suub {
    /*padding-left: 1em;*/
  }


  .sbt {
    opacity: .8;
    font-weight: 400;
    text-align: center;
  }

  .item:hover {
    color: #ffffff;
    background: rgba(0, 0, 0, 0.1);
    /*font-weight: 600;*/
  }

  .item:hover .ico_op {
    color: var(--icon-color-hover);
  }

  .item:hover .opt_txt {
    opacity: 1;
  }

  .sub {
    padding-left: 1.9em;
    font-weight: 600;
    font-size: .7em;
    color: var(--text-main-color);
    opacity: .1;
    height: 3em;
    display: flex;
    align-items: center;
  }

  .menu {
    display: none;
  }

  .mn {
    height: var(--topbar-height);
    border-bottom: 1px solid rgba(255, 255, 255, 0.11);
    align-items: center;
    justify-content: center;
    display: flex;
    /*margin: 1em;*/
    box-sizing: border-box;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
  }

  .msp {
    display: none;
  }

  :host {
    width: 20em;
  }
}

/*.mn {*/
/*height: 2em;*/
/*width: auto;*/
/*display: flex;*/
/*padding: 1em;*/
/*box-sizing: border-box;*/
/*}*/




