<!--<div class="nav_main_bar">-->
<!--&lt;!&ndash;TODO realizar una animacion cooqueta con este menu&ndash;&gt;-->
<!--<div class="menu" (click)="show_menu=!show_menu">-->
<!--<img src="assets/common/logo_b.svg" alt="Menú" class="menu-img">-->
<!--</div>-->
<!--<div class="mn">-->
<!--<img class="main_name" src="assets/common/logo_b.svg"/>-->
<!--</div>-->
<!--</div>-->

<div class="main_menu" [ngClass]="tools.show_menu ? 'sidebar-opened' : 'sidebar-closed'">
  <div class="mn">
    <img class="svg_logo" src="assets/common/logo_w.svg"/>
  </div>
  <div class="sub">
    Dashboard
  </div>
  <div class="options_mn">
    <div class="item" routerLink="/" [routerLinkActive]="'acti'">
      <i class="fal fa-home fa-fw ico_op "></i>
      <!--<fa-icon class="fa-fw ico_op " [icon]="['fal','home']" size="2x" fixedWidth="{{true}}"></fa-icon>-->
      <div class="opt_txt">Inicio</div>
    </div>

    <div class="item" routerLink="/busqueda/" [routerLinkActive]="'acti'">
      <i class="fal fa-search fa-fw ico_op "></i>
      <div class="opt_txt">Busquedas</div>
    </div>
    <div class="sub">
      Producción
    </div>
    <div class="item" (click)="regs=!regs" [ngClass]="regs ? 'o' : 'c'">
      <i class="fal fa-barcode-scan fa-fw ico_op "></i>
      <div class="opt_txt">Registro</div>

      <fa-icon class="fa-fw obb " [icon]="['fas','angle-down']" transform="rotate-{{regs? '180': '0'}}" size="2x"
               fixedWidth="{{true}}"></fa-icon>
    </div>

    <div *ngIf="regs">
      <div class="item suub" routerLink="/registro/nueva_caja" [routerLinkActive]="'acti'">
        <i class="fal fa-plus fa-fw ico_op "></i>
        <div class="opt_txt">Nueva Caja</div>
      </div>
      <div class="item suub" routerLink="/registro/nuevo_reloj" [routerLinkActive]="'acti'">
        <i class="fal fa-plus fa-fw ico_op "></i>
        <div class="opt_txt">Nueva Reloj</div>
      </div>
    </div>
    <div class="sub">
      Contabilidad
    </div>


    <div class="item">
      <i class="fal fa-file-invoice-dollar fa-fw ico_op "></i>
      <div class="opt_txt ">Ventas</div>
    </div>

    <div class="item">
      <i class="fal fa-cube fa-fw ico_op "></i>
      <div class="opt_txt">Inventario</div>
    </div>

    <div class="item">
      <i class="fal fa-dollar-sign fa-fw ico_op "></i>
      <div class="opt_txt">Precios</div>
    </div>


    <div class="sub">
      Mercadeo
    </div>

    <div class="item">
      <i class="fal fa-newspaper fa-fw ico_op "></i>
      <div class="opt_txt">Publicaciones</div>
    </div>

    <div class="sub">Dev Tools</div>

    <div class="item">
      <i class="fal fa-vial fa-fw ico_op "></i>
      <div class="opt_txt">Experimentos</div>
    </div>


    <!--ESTE GROUP ES TEMPORAL!, SE DEBE SOLUCIONAR DE UNA MANERA MUCHO MAS ORGANICA Y ESCALABLE-->


    <!--<div class="sub">-->
    <!--CUENTA-->
    <!--</div>-->

    <!--<div class="item">-->
    <!--<i class="far fa-sliders-h fa-fw ico_op "></i>-->
    <!--<div class="opt_txt">Ajustes</div>-->
    <!--</div>-->
    <!--<div class="item" (click)="cerrarCuenta()">-->
    <!--<i class="fal fa-sign-out fa-fw ico_op "></i>-->
    <!--<div class="opt_txt">Salir</div>-->
    <!--</div>-->
    <!--</div>-->

    <div class="ssss">
      <div class="user_nv">
        <div class="nombre">Andrés Gc</div>
        <div class="cargo">v 1.2</div>
      </div>
    </div>

  </div>

